<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <!--
    <link href="https://db.onlinewebfonts.com/c/4735dd9ca25670c44600021e7428b8d3?family=Segoe" rel="stylesheet"
        type="text/css" />
    <link href="https://db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">-->
    <link href="./editor/Segoe.css" rel="stylesheet" type="text/css">
    <link href="./editor/Segoe-UI.css" rel="stylesheet" type="text/css" />
    <link href="./editor/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="./editor/ui.css" rel="stylesheet" type="text/css">
    <link href="./cursor.css" rel="stylesheet" type="text/css">
    <link href="#" rel="short icon">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./editor/hangul.js"></script>
    <script src="./editor/ui.js"></script>
    <script src="./editor/ui2.js"></script>
    <script src="./cursor.js"></script>
    <title>편집기</title>
</head>

<body>
    <div class="bodyContainer">
        <header>
            <div class="header__search">text</div>
        </header>
        <div class="rootContainer">
            <nav>
                <p>btn</p>
                <button v-for="(tab, index) in tabs" :class="{mdi:true,[tab._icon]:true, on:onTab._uid == tab._uid }"
                    v-on:click="()=>changeTab(tab)" :key="index">
                </button>
            </nav>
            <aside>
                <p>소스제어</p>
                <button class="resizer"></button>
                <file v-if="files" v-bind="{...files, onTab, padding: 0}" :class="['root','open']"></file>
                <span class="v-scrollbar overlay" target=".root.aside_folder" style="margin-top: 3.5rem;"></span>
                <button onclick="getFolder();this.remove();" class="rect_button">Open Folder</button>
            </aside>
            <section>
                <div class="subTab__buttonContianer" v-if="onTab._subTabs.length > 0">
                    <div class="subTab__buttonContianer__div">
                        <button v-for="(subTab, index) in onTab._subTabs"
                            :class="{on:subTab._uid == onTab._onSubTab._uid}" :state="subTab._state"
                            v-on:click="changeSubTab(subTab)">{{subTab._name}} <span v-on:click="closeSubTab(subTab)"
                                style="margin-left: 0.5rem;font-style: normal;" :key="index">✕</span></button>
                    </div>
                    <span class="h-scrollbar" target=".subTab__buttonContianer__div"></span>
                </div>
                <div v-show="onTab._subTabs.length > 0" class="subTab__contents" tabindex="0"
                    ondblclick="editor.ondblclick(event)"
                    onkeydown="editor.onkeydown(event)" onkeyup="" onclick="editor.onkeyup(event)"
                    onmousedown="editor.onmousedown(event)" onmouseup="editor.onmouseup(event)" onblur="editor.blur()"></div>
                <span class="h-scrollbar overlay" target=".subTab__contents"></span>
                <span class="v-scrollbar overlay" target=".subTab__contents"></span>
                <div v-show="onTab._subTabs.length < 1" class="section__empty">
                    <span class="section__empty__icon mdi mdi-alert-octagon"></span>
                    <p class="section__empty__command">
                        <span>모든 명령 표시</span>
                        <span><code>Ctrl</code>+<code>Shift</code>+<code>P</code></span>
                    </p>
                    <p class="section__empty__command">
                        <span>파일로 이동</span>
                        <span><code>Ctrl</code>+<code>P</code></span>
                    </p>
                    <p class="section__empty__command">
                        <span>파일에서 찾기</span>
                        <span><code>Ctrl</code>+<code>Shift</code>+<code>F</code></span>
                    </p>
                    <p class="section__empty__command">
                        <span>전체 화면 설정/해제</span>
                        <span><code>F11</code></span>
                    </p>
                    <p class="section__empty__command">
                        <span>설정 표시</span>
                        <span><code>Ctrl</code>+<code>,</code></span>
                    </p>
                </div>
            </section>
        </div>
        <footer>
            <span class="right" :class="hangulMode?'mdi mdi-syllabary-hangul':'mdi mdi-alphabet-latin'"></span>
        </footer>
    </div>
    <div id="loadOverlay" style="background-color:#333; position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
</body>

</html>