<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link href="https://db.onlinewebfonts.com/c/4735dd9ca25670c44600021e7428b8d3?family=Segoe" rel="stylesheet"
        type="text/css" />
    <link href="https://db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="./editor/ui.css">
    <link rel="stylesheet" type="text/css" href="./cursor.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./editor/hangul.js"></script>
    <script src="./editor/ui.js"></script>
    <script src="./cursor.js"></script>
    <title>편집기</title>
</head>

<body>
    <div class="bodyContainer">
        <header>
            <div class="header__search">text</div>
        </header>
        <div class="rootContainer">
            <nav>
                <p>btn</p>
                <button v-for="tab in tabs" :class="{mdi:true,[tab._icon]:true, on:onTab._uid == tab._uid }"
                    v-on:click="()=>changeTab(tab)">
                </button>
            </nav>
            <aside>
                <p>소스제어</p>
                <button class="resizer"></button>
                <div class="aside_folder open">
                    <div class="aside_line" onclick="this.parentElement.classList.toggle('open')" tabindex="0"> Root
                    </div>
                    <file v-for="file in files" v-bind="{...file, onTab, padding: 2.2}"></file>
                </div>
            </aside>
            <section>
                <div class="subTab__buttonContianer" v-if="onTab._subTabs.length > 0">
                    <div class="subTab__buttonContianer__div">
                        <button v-for="subTab in onTab._subTabs" :class="{on:subTab._uid == onTab._onSubTab._uid}"
                            :state="subTab._state" v-on:click="changeSubTab(subTab)">{{subTab._name}} <span
                                v-on:click="closeSubTab(subTab)"
                                style="margin-left: 0.5rem;font-style: normal;">✕</span></button>
                    </div>
                    <span class="h-scrollbar" target=".subTab__buttonContianer__div"></span>
                </div>
                <div v-show="onTab._subTabs.length > 0" class="subTab__contents" tabindex="0"
                    onkeydown="editor.onkeydown(event)" onkeyup="" onclick="editor.onkeyup(event)"
                    onmousedown="editor.onmousedown(event)" onmouseup="editor.onmouseup(event)"
                    onclick="editor.onclick(event)" onblur="editor.blur()"></div>
                <span class="h-scrollbar overlay" target=".subTab__contents"></span>
                <div v-show="onTab._subTabs.length < 1" class="section__empty">
                    <span class="section__empty__icon mdi mdi-alert-octagon"></span>
                    <p class="section__empty__command">
                        <span>모든 명령 표시</span>
                        <span><code>Ctrl</code>+<code>Shift</code>+<code>P</code></span>
                    </p>
                    <p class="section__empty__command">
                        <span>파일로 이동</span>
                        <span><code>Ctrl</code>+<code>P</code></span>
                    </p>
                    <p class="section__empty__command">
                        <span>파일에서 찾기</span>
                        <span><code>Ctrl</code>+<code>Shift</code>+<code>F</code></span>
                    </p>
                    <p class="section__empty__command">
                        <span>전체 화면 설정/해제</span>
                        <span><code>F11</code></span>
                    </p>
                    <p class="section__empty__command">
                        <span>설정 표시</span>
                        <span><code>Ctrl</code>+<code>,</code></span>
                    </p>
                </div>
            </section>
        </div>
        <footer></footer>
    </div>
</body>

</html>