[mode="shooting"] {
    display: block;
    position: absolute;
    height: 0;
    width: 34%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(180deg, #030915, #283055, #966E6C);
    transition: height 300ms;
    pointer-events: none;
    overflow: hidden;
}

[mode="game"] [mode="shooting"]{
    height: 100%;
    pointer-events: auto;
}
[mode="shooting"] > canvas {
    height: 100%;
    width: 100%;
}

.gameContainer__message {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer__message > h1 {
    position: relative;
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    color: transparent;
    transform: skew(-6deg);
}

.gameContainer__message > h1::after {
    content: attr(content);
    position: absolute;
    left:0;
}

.gameContainer__message.start > h1::before {
    content: attr(content);
    -webkit-text-stroke: 1px var(--blue);
}
.gameContainer__message.start > h1::after {
    background: linear-gradient(to right bottom, var(--bright-blue), var(--theme));
    background-clip:text;
    -webkit-background-clip: text;
}

.gameContainer__message.clear > h1::before {
    content: attr(content);
    -webkit-text-stroke: 1px #dbb621;
    filter: drop-shadow(1px 1px 0 #00000055) drop-shadow(7px 7px 8px #FEEB50AA);
}
.gameContainer__message.clear > h1::after {
    background: linear-gradient(to bottom, #FEEB50, #FFD52D);
    background-clip:text;
    -webkit-background-clip: text;
}


.gameContainer__message.dead > h1::before {
    content: attr(content);
    -webkit-text-stroke: 1px #83252F;
}
.gameContainer__message.dead > h1::after {
    background: linear-gradient(to bottom, #FBB1AC, #E87C7E);
    background-clip:text;
    -webkit-background-clip: text;
}