@font-face {
    font-family: blue_archive;
    src: url("MainFont.ttf");
}

:root {
    --dark: #46495A;
    --theme: #35D3FD;
    /*38CEFA*/
    --blue: #315086;
    --bright-blue: #68FDFD;
    --light: #9AF8FF;
    --grey: #D5DDE9;
    --dialog: #0D1A25DD;
    font-size: 7px;
}

* {
    position: relative;
    box-sizing: border-box;
    color: var(--dark);
    font-family: blue_archive;
}
body {
    display: flex;
    background-color: black;
    margin: 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    transform: translateY(-50%);
    text-align: center;
    z-index: 9999;
    background: #444;
    background-image: linear-gradient(to bottom, #BFE9F9, #E7E5F3);
    pointer-events: none;
    overflow: hidden;
}

.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: color-burn;
    background:
        radial-gradient(circle, transparent 12%, #ffffff 12%),
        linear-gradient(0deg, transparent 49%, #9b96f8 49%, #9b96f8 51%, transparent 51%),
        linear-gradient(90deg, transparent 49%, #9b96f8 49%, #9b96f8 51%, transparent 51%);
    background-size: 20rem 20rem;
    background-position: center top;
    background-color: #ffffff;
    opacity: 1
}

.loading>.logo {
    position: absolute;
    height: 50%;
    aspect-ratio: 1;
    text-align: center;
    top: 25%;
    transform: translateX(-50%);
    border: 1.5rem solid #FFFFFF55;
    border-radius: 50%;

}

.loading>.triangle {
    position: absolute;
    top: 5%;
    left: 26%;
    width: 16.5vw;
    height: 13vw;
    border-top: 13vw solid #FFFFFF33;
    border-left: 8.25vw solid transparent;
    border-right: 8.25vw solid transparent;
}

.loading>.triangle[index="1"] {
    top: 93%;
    left: 34%;
}

.loading>.triangle[index="2"] {
    top: 65%;
    left: 16.6%;
    transform: rotate(180deg);
}

.loading>.triangle[index="3"] {
    top: 41%;
    left: 56%;
    transform: rotate(180deg);
}

.loading>span>img {
    height: 90%;
    top: 5%;
    opacity: 0.8;
}

.container {
    flex: 1;
    position: relative;
    aspect-ratio: 2;
    margin: auto;
    background-color: white;
    background-image: url("./resource/bg/lobby.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    overflow: hidden;
}
@media (min-aspect-ratio: 2/1) {
    body {
        flex-direction: column;
    }

    .container {
        flex: unset;
        height: 100%;
    }
}

.container__object,
.container__choice {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    pointer-events: none;
}

.container__object>* {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vw;
}

.container__object>*>img {
    transform: translate(-50%, -20vw);
    height: 100%;
}

.container__object>*.horizontal_invert>img {
    transform: translate(-50%, -20vw) scaleX(-1);
}

.container__object>*.vertical_invert>img {
    transform: translate(-50%, -20vw) scaleY(-1);
}

.container__object>*.horizontal_invert.vertical_invert>img {
    transform: translate(-50%, -20vw) scale(-1);
}

.container__object>*.behind::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    --mask: inherit;
    mask-image: var(--mask);
    mask-size: contain;
    -webkit-mask-image: var(--mask);
    -webkit-mask-size: contain;
    background-image: linear-gradient(to bottom, transparent, var(--dark));
    transform: translate(-50%, -20vw);
}

.container__object>*.horizontal_invert.behind::after {
    transform: translate(-50%, -20vw) scaleX(-1);
}

.container__object>*.vertical_invert.behind::after {
    transform: translate(-50%, -20vw) scaleY(-1);
}

.container__object>*.horizontal_invert.vertical_invert.behind::after {
    transform: translate(-50%, -20vw) scale(-1);
}


.container__choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    z-index: 999;
}

.container__choice:not(:empty) {
    pointer-events: auto;
}

.container__choice>button {
    height: 7rem;
    width: 70%;
    margin: 0 auto;
    background: white;
    color: var(--dark);
    font-weight: 500;
    border: 0.3rem solid white;
    border-radius: 0.5rem;
    pointer-events: auto;
    transform: skew(-6deg);
    --gradient-color: #C0D3E3;
    --gradient-color2: #C9E1F0;
    --gradient-color3: #D9EFFB;
    --gradient-color4: #D9EAF6;
    --gradient-color5: #F4F8FE;
    background-image:
        linear-gradient(121deg, var(--gradient-color) 4rem, transparent 4rem),
        linear-gradient(59deg, var(--gradient-color2) 8rem, transparent 8rem),
        linear-gradient(121deg, var(--gradient-color3) 12rem, transparent 12rem),
        linear-gradient(59deg, var(--gradient-color4) 16rem, transparent 16rem),
        linear-gradient(121deg, var(--gradient-color5) 20rem, transparent 20rem),
        linear-gradient(239deg, var(--gradient-color) 4rem, transparent 4rem),
        linear-gradient(301deg, var(--gradient-color2) 8rem, transparent 8rem),
        linear-gradient(239deg, var(--gradient-color3) 12rem, transparent 12rem),
        linear-gradient(301deg, var(--gradient-color4) 16rem, transparent 16rem),
        linear-gradient(239deg, var(--gradient-color5) 20rem, transparent 20rem);
}

.container__choice>button>span {
    display: block;
    transform: skew(6deg);
}

.mainMenu {
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: -50%;
    width: 45%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    transform: skew(-8deg);
    transition: right 0.3s;
}

.mainMenu>div {
    gap: 2rem;
    display: flex;
    flex-direction: row;
}

.mainMenu>div>div {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.mainMenu * {
    flex: 1;
}

.mainMenu button {
    display: flex;
    height: auto;
    width: auto;
    padding: 0;
    background-color: white;
    border: 0.3rem solid white;
    box-sizing: border-box;
    text-align: left;
    color: var(--blue);
    font-weight: bold;
    font-size: 6rem;
    overflow: hidden;
    transform: scale(1);
    transition: transform 150ms;
}

.mainMenu button:active {
    transform: scale(0.95);
}

.mainMenu button>span {
    padding: 2rem;
    pointer-events: none;
}

.mainMenu button>.circle {
    position: absolute;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: var(--blue);
    transform: translate(-50%, -50%);
}

.topMenu {
    display: none;
    filter: drop-shadow(0.3rem 0.3rem 0.2rem #00000077);
    transform: skew(-6deg, 0);
    text-align: right;
    margin: 2rem 8rem;
}

.topMenu>* {
    margin-left: 0.5rem;
}

.topMenu__score,
.topMenu__time {
    display: none;
    opacity: 0.8;
    color: white;
    text-align: right;
    width: 14rem;
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: var(--blue);
    position: relative;
    top: -1rem;
}

.topMenu__score::before,
.topMenu__time::before {
    content: attr(icon);
    position: absolute;
    left: 0.2rem;
    top: 0.2rem;
    font-size: 0.8em;
}

.gameMenu {
    display: none;
    position: absolute;
    bottom: 2rem;
    right: 17rem;
    width: 40rem;
    height: 17.5rem;
    filter: drop-shadow(0.3rem 0.3rem 0.2rem #00000077);
    transform: skew(-6deg, 0);
}

.gameMenu__costGauge {
    position: relative;
    display: block;
    height: 2rem;
    margin-top: 2rem;
}

.gameMenu_costGauge__count {
    display: flex;
    position: absolute;
    right: 100%;
    bottom: 0;
    margin-right: 0.5rem;
    border-radius: 3.5rem 3.5rem 3.5rem 0;
    background: var(--blue);
    border: 0.1rem solid var(--dark);
    width: 5rem;
    height: 5rem;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 4rem;
    opacity: 0.8;
}

.gameMenu_costGauge__count::before {
    content: 'cost';
    position: absolute;
    top: -1.4rem;
    line-height: 2.8rem;
    left: 0.5rem;
    font-size: 2.2rem;
    color: white;
    text-shadow: -0.2rem 0.2rem var(--dark), -0.2rem -0.2rem var(--dark), 0.2rem -0.2rem var(--dark), 0.2rem 0.2rem var(--dark),
        -0.2rem 0 var(--dark), 0 -0.2rem var(--dark), 0.2rem 0 var(--dark), 0 0.2rem var(--dark);
}

.gameMenu_costGauge__bar {
    display: flex;
    height: 2rem;
    gap: 0.3rem;
    overflow: hidden;
    --progress: 0;
}

.gameMenu_costGauge__bar__slot:nth-child(1) {
    --offset: 0;
}
.gameMenu_costGauge__bar__slot:nth-child(2) {
    --offset: 0.1;
}
.gameMenu_costGauge__bar__slot:nth-child(3) {
    --offset: 0.2;
}
.gameMenu_costGauge__bar__slot:nth-child(4) {
    --offset: 0.3;
}
.gameMenu_costGauge__bar__slot:nth-child(5) {
    --offset: 0.4;
}
.gameMenu_costGauge__bar__slot:nth-child(6) {
    --offset: 0.5;
}
.gameMenu_costGauge__bar__slot:nth-child(7) {
    --offset: 0.6;
}
.gameMenu_costGauge__bar__slot:nth-child(8) {
    --offset: 0.7;
}
.gameMenu_costGauge__bar__slot:nth-child(9) {
    --offset: 0.8;
}
.gameMenu_costGauge__bar__slot:nth-child(10) {
    --offset: 0.9;
}


.gameMenu_costGauge__bar__slot {
    display: block;
    background: var(--dark);
    height: 100%;
    border-radius: 0.2rem;
    flex: 1;
    border: 0.1rem solid var(--dark);
    opacity: 0.9;
    --progress: inherit;
    --inner-progress: calc((var(--progress) - var(--offset)) * 1000%);
    background: linear-gradient(to right, var(--theme) var(--inner-progress), var(--dark) var(--inner-progress));
}

.gameMenu_costGauge__bar__cursor {
    --progress: inherit;
    position: absolute;
    display: block;
    height: 1.8rem;
    top: 0.1rem;
    left: calc(var(--progress) * 100%);
    width: 0.2rem;
    background-color: var(--light);
    box-shadow: 0 0 1rem 0.6rem var(--bright-blue);
}

.gameMenu__skillSet {
    display: flex;
    height: 12rem;
    margin: 0 0.5rem;
}

.gameMenu__skillSet__skill {
    display: block;
    height: 100%;
    width: 12.4rem;
    background-color: var(--dark);
    border-radius: 0.3rem;
    border: 0.2rem solid white;
}

.gameMenu__skillSet__skill+.gameMenu__skillSet__skill {
    margin-left: 0.9rem;
}

.gameMenu__skillSet__skill::before {
    content: attr(cost);
    display: block;
    position: absolute;
    top: -1.5rem;
    left: -0.2rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    transform: skew(6deg, 0);
    background: var(--blue);
    opacity: 0.8;
    line-height: 3.5rem;
    font-size: 2.6rem;
    font-weight: bold;
    color: white;
}

.gameMenu__control {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: -1.1rem;
    left: 100%;
    height: 100%;
    margin-left: 1.5rem;
    gap: 1rem;

}

button {
    padding: 0 3rem;
    height: 6rem;
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    font-size: 3rem;
    width: fit-content;
    min-width: 12rem;
    opacity: 0.9;
    transition: transform 150ms;
    transform: scale(1);
}

button:active {
    transform: scale(0.95);
}

button.square {
    width: 6rem;
    padding: 0;
    min-width: unset;
}

.gameMenu__skillSet__skill[state="charging"] {
    filter: grayscale(1);
    --progress: 0%;
}
.gameMenu__skillSet__skill[state="charging"]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: conic-gradient(transparent var(--progress), #00000033 var(--progress));
}


.gameMenu__skillSet__skill[state="empty"] {
    border: none;
    background-color: #333;
    opacity: 0.7;
}

.gameMenu__skillSet__skill[state="empty"]::before {
    display: none;
}

.gameMenu__skillSet__skill[state="empty"]::after {
    content: 'EMPTY' !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: normal !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3.2rem;
    font-weight: bold;
}

.topMenu__stop {
    display: none;
}

[mode="game"] .topMenu__score,
[mode="game"] .topMenu__time,
[mode="game"] .topMenu__stop {
    display: inline-block;
}

[mode="game"] .gameMenu,
[mode="game"] .topMenu,
[mode="story"] .topMenu {
    display: block;
}

[mode="main"] .mainMenu {
    right: 5%;
}

.dialog {
    position: absolute;
    height: 40%;
    width: 100%;
    padding: 3rem 10% 0 10%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0, var(--dialog) 15%);
    z-index: 998;
}

.dialog::after {
    content: '▼';
    color: var(--theme);
    font-size: 2em;
    position: absolute;
    right: 10%;
    bottom: 2rem;
    animation: bouncy 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes bouncy {
    0% {
        bottom: 2rem;
    }

    50% {
        bottom: 3rem;
    }

    100% {
        bottom: 2rem;
    }
}

.dialog__title {
    border-bottom: 0.1rem solid #ffffff88;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 5.8rem;
}

.dialog__title__name {
    color: white;
    font-size: 3.5rem;
}

.dialog__title__team {
    color: var(--theme);
    font-size: 2.5rem;
    margin-left: 1rem;
}

.dialog__contents {
    color: white;
    font-size: 2.5rem;
    margin-left: 1rem;
}


.dialog[mode="opening"] {
    top: 0;
    bottom: 0;
    height: auto;
    padding: 3rem;
    background: #FFFFFF11;
    backdrop-filter: blur(1rem);
}

.dialog[mode="opening"]::before {
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    border: 0.3rem solid #FFFFFF55;
    border-radius: 1rem;
}

.dialog[mode="opening"]::after {
    content: '';
    position: absolute;
    top: 3.5rem;
    left: 5.5rem;
    right: 5.5rem;
    bottom: 3.5rem;
    border: 0.1rem solid #FFFFFF55;
    border-left-color: transparent;
    border-right-color: transparent;
    box-sizing: border-box;
    animation: none;
}

.dialog[mode="opening"] .dialog__title {
    position: absolute;
    top: 5.5rem;
    bottom: 5.5rem;
    left: 3.5rem;
    right: 3.5rem;
    height: auto;
    margin: 0;
    border: 0.1rem solid #FFFFFF55;
    border-top-color: transparent;
    border-bottom-color: transparent;
    box-sizing: border-box;
}

.dialog[mode="opening"] .dialog__title>* {
    display: block !important;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.dialog[mode="opening"] .dialog__title>*:after,
.dialog[mode="opening"] .dialog__title>*:before {
    content: '';
    display: block;
    position: absolute;
    height: 4rem;
    width: 4rem;
    border: 0.1rem solid #FFFFFF55;
    border-radius: 50%;
    box-sizing: border-box;
    color: #FFFFFF55;
    line-height: 3.8rem;
    text-align: center;
    font-size: 1.7rem;
}

.dialog[mode="opening"] .dialog__title>*:first-child:before {
    content: '○';
    top: -4rem;
    left: -2rem;
    border-color: transparent transparent transparent #FFFFFF55;
    transform: rotate(225deg);
}

.dialog[mode="opening"] .dialog__title>*:first-child:after {
    content: '▷';
    top: -4rem;
    right: -2rem;
    border-color: transparent transparent transparent #FFFFFF55;
    transform: rotate(315deg);
}

.dialog[mode="opening"] .dialog__title>*:last-child:before {
    content: '×';
    bottom: -4rem;
    left: -2rem;
    border-color: transparent transparent transparent #FFFFFF55;
    transform: rotate(135deg);
}

.dialog[mode="opening"] .dialog__title>*:last-child:after {
    content: '◇';
    bottom: -4rem;
    right: -2rem;
    border-color: transparent transparent transparent #FFFFFF55;
    transform: rotate(45deg);
}

.dialog[mode="opening"] .dialog__contents {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 37%;
    left: 2rem;
    right: 2rem;
    bottom: 37%;
    margin: 0;
    --gradient-color: #C0D3E3;
    --gradient-color2: #C9E1F0;
    --gradient-color3: #D9EFFB;
    --gradient-color4: #D9EAF6;
    --gradient-color5: #F4F8FE;
    background-color: white;
    background-image:
        linear-gradient(239deg, transparent, #FFFFFFCC, #FFFFFFCC, transparent),
        linear-gradient(121deg, var(--gradient-color) 4rem, transparent 4rem),
        linear-gradient(59deg, var(--gradient-color2) 14rem, transparent 14rem),
        linear-gradient(121deg, var(--gradient-color3) 24rem, transparent 24rem),
        linear-gradient(59deg, var(--gradient-color4) 34rem, transparent 34rem),
        linear-gradient(121deg, var(--gradient-color5) 44rem, transparent 44rem),
        linear-gradient(239deg, var(--gradient-color) 4rem, transparent 4rem),
        linear-gradient(301deg, var(--gradient-color2) 14rem, transparent 14rem),
        linear-gradient(239deg, var(--gradient-color3) 24rem, transparent 24rem),
        linear-gradient(301deg, var(--gradient-color4) 34rem, transparent 34rem),
        linear-gradient(239deg, var(--gradient-color5) 44rem, transparent 44rem);
    font-size: 5rem;
    font-weight: 700;
    color: var(--blue);
}

.active-gold>svg.glowing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    fill: transparent;
    stroke: #fff;
    stroke-dasharray: 55, 80;
    filter:
        drop-shadow(0 0 2px #FEFFAE) drop-shadow(0 0 2px #FEFFAE) drop-shadow(0 0 2px #FEFFAE);
}

.active-gold {
    background-color: #FEF213;
    --gradient-color: #F5D52466;
    background-image:
        linear-gradient(121deg, var(--gradient-color) 1rem, transparent 1rem),
        linear-gradient(59deg, var(--gradient-color) 4rem, transparent 4rem),
        linear-gradient(121deg, var(--gradient-color) 7rem, transparent 7rem),
        linear-gradient(239deg, var(--gradient-color) 5rem, transparent 5rem),
        linear-gradient(301deg, var(--gradient-color) 2rem, transparent 2rem);
    animation: button_spin 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

:not(.active-gold)>svg.glowing {
    display: none;
}

@keyframes button_spin {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 135;
    }
}

.momoTalk {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 10%;
    width: 10%;
    top: 50%;
    left: 50%;
    border-radius: 2rem;
    z-index: 500;
    transform: translate(-50%, -50%);
    transition: width 100ms, height 100ms, opacity 50ms;
    pointer-events: none;
    opacity: 0;
    background-color: white;
    overflow: hidden;
}

.momoTalk__top {
    display: flex;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, #FD899E, #FA97A9);
    transition: height 1s 100ms;
}

.momoTalk__top__logo,
.momoTalk__top__title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    transition-property: transform, left, top, font-size, width, height;
    transition-duration: 1s;
    transition-delay: 100ms;
}

.momoTalk__top__logo {
    width: 9rem;
    height: 9rem;
    transform: translate(-50%, -100%);
}

.momoTalk__top__title {
    transform: translate(-50%, 0);
}

.momoTalk__top__close {
    margin-left: auto;
    background-color: transparent;
    color: white;
    padding: 0;
    margin-right: -2rem;
}

.momoTalk>div:last-child {
    flex: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.momoTalk__side {
    transition-property: margin-left;
    transition-duration: 600ms;
    transition-delay: 500ms;
    width: 8%;
    margin-left: -8%;
    background-color: #4C5B72;
    overflow: hidden;
}

.momoTalk__side>button {
    display: block;
    padding: 0;
    aspect-ratio: 1;
    height: auto;
    width: 100%;
    background-color: transparent;
    color: white;
    opacity: 0.4;
}

.momoTalk__side>button:hover {
    background-color: #FFFFFF55;
    opacity: 1;
}

.momoTalk__side>button>svg {
    fill: #ffffff;
}

.momoTalk__side__friends::before {
    content: '';
    position: absolute;
    border: 0.5rem solid #FD899E;
    border-radius: 50%;
    width: 22%;
    height: 10%;
    left: 39%;
    top: 24%;
    box-sizing: border-box;
}

.momoTalk__list {
    flex: 1;
    border-right: 1px solid #E2E2E2;
    background-color: #F3F7F8;
}

.momoTalk__detail {
    flex: 1;
}

.momoTalk__detail:empty::after {
    content: '학생을 선택해주세요.';
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}

[mode="talk"] .momoTalk {
    height: 80%;
    width: 80%;
    opacity: 1;
    pointer-events: auto;
}

[mode="talk"] .momoTalk__side {
    margin-left: 0;
}

[mode="talk"] .momoTalk__top__logo {
    width: 4rem;
    height: 4rem;
    left: 2rem;
    transform: translate(0, -50%);
}

[mode="talk"] .momoTalk__top__logo>svg {
    width: 100%;
    height: 100%;
    fill: white;
}

[mode="talk"] .momoTalk__top__title {
    font-size: 4rem;
    left: 7rem;
    transform: translate(0, -50%);
}

[mode="talk"] .momoTalk__top {
    height: 10%;
}

[mode="talk"] .momoTalk>div:last-child {
    flex: 1;
}