body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin: 20px auto;
    text-align: center;
  }
  
  label {
    font-size: 1.2em;
  }
  
  #alarm-list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  