.main__header__title:has(input:invalid)::before {
    position: absolute;
    content: "\F0028";
    color: var(--clr-invalid);
    font-family: var(--ff-icon);
}

.main__header__title>input {
    transition: 200ms padding;
}

.main__header__title>input:invalid {
    padding-left: 8rem;
}

.main__contents {
    padding: 0;
    padding-bottom: 15rem;
}

.main__contents:empty {
    aspect-ratio: 1;
}

.main__contents:empty::after {
    content: '여기에 컴포넌트(요소)를 끌어다 놓으면 추가할 수 있어요!';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: var(--mg-component);
    background: var(--clr-background-dark);
    text-align: center;
}

footer:hover,
.component:hover {
    background-color: var(--clr-background-dark);
}

.main__contents:hover {
    background-color: transparent;
}

.component {
    display: flex;
    flex-direction: column;
    border-top: var(--bs-small) solid var(--clr-border-lt);
    padding: var(--size-indent) calc(var(--size-indent) * 2);
    min-height: 10.5rem;
    gap: var(--mg-component);
}

.component:last-child {
    border-bottom: var(--bs-small) solid var(--clr-border-lt);
}

.component>p {
    font-size: var(--fs-xlarge);
}

.component>* {
    max-width: 100%;
}

.component audio {
    min-width: calc(70% - 5rem);
    margin-top: 1rem;
}

.component__remove_btn {
    position: absolute;
    top: var(--mg-component);
    right: var(--mg-component);
    width: var(--h-control-large);
    height: var(--h-control-large);
    border-radius: 50%;
    color: #fff;
    background-color: var(--clr-primary-base);
    font-size: var(--fs-xlarge);
}

.component__remove_btn:hover {
    opacity: 0.7;
}

.component__remove_btn:active {
    background: var(--clr-invalid);
    opacity: 1;
}

.component_list {
    user-select: none;
}

.component_list>li {
    padding: 1rem var(--size-indent);
}

.component_list button {
    border-radius: 50%;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-right: -0.5rem;
    margin-left: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    background: var(--clr-primary-base);
    color: var(--clr-font-alt);
}

aside> :first-child {
    transition: 400ms margin-top;
}

.component__execList {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--clr-background-base);
    padding: var(--mg-component);
    border-radius: var(--br-smallest) var(--br-smallest) 0 0;
    border: var(--bs-small) solid var(--clr-border-dkst);
    font-size: var(--fs-base);
    margin-bottom: calc(0px - var(--mg-component));
}

.component__execList>button,
.input_color {
    min-width: var(--h-control-small);
    border-radius: var(--br-smallest);
    overflow: hidden;
    background: none;
}

.component__execList>* {
    height: var(--h-control-small);
    line-height: var(--h-control-small);
    text-align: center;
}

.component.title>[contenteditable] {
    line-height: 1.5;
}

.component.textbox>[contenteditable] {
    min-height: 10rem;
    padding: var(--size-indent) var(--mg-component);
    background: var(--clr-background-dark);
    border-radius: 0 0 var(--br-smallest) var(--br-smallest);
    border: var(--bs-small) solid var(--clr-border-dkst);
    border-top-width: 0;
    line-height: 1.5;
}

.component.textbox>[contenteditable] img {
    max-width: 100%;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.input_color>input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
}

.input_color::before {
    z-index: 2;
    position: relative;
}

.component__execList>input[type="number"] {
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
}

.component__execList>input[type="number"]::-webkit-outer-spin-button,
.component__execList>input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

.component__execList>input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.separator::before {
    content: '|';
}

.main__contents>div:hover *,
.main__header:hover *,
footer:hover * {
    --clr-background-dark: var(--clr-background-base);
}

@media (max-width: 500px) {
    main {
        margin: 0 0 var(--size-indent) 0;
        padding-left: 0;
        padding-right: 0;
    }

    .main__contents {
        --zoom: 0.8;
        --fs-xxlarge: calc(5rem * var(--zoom));
        --fs-xlarge: calc(3rem * var(--zoom));
        --fs-large: calc(2.2rem * var(--zoom));
        --fs-base: calc(1.8rem * var(--zoom));
        --fs-small: calc(1.4rem * var(--zoom));
        --fs-smallest: calc(1.2rem * var(--zoom));
    
        --h-control-smaller: calc(2.8rem * var(--zoom));
        --h-control-small: calc(3rem * var(--zoom));
        --h-control: calc(4rem * var(--zoom));
        --h-control-large: calc(5rem * var(--zoom));
        --h-button-large: calc(5.4rem * var(--zoom));
    
        --w-min-button: calc(6rem * var(--zoom));
    }

    .editable-table__row, .component.textbox>[contenteditable]{
        zoom: var(--zoom);
        --fs-base: 1.8rem;
    }

    .main__header>* {
        margin-inline: var(--mg-component);
    }

    .component.textbox {
        max-height: 100vh;
        padding-inline: 0;
    }

    .component.textbox > p:first-child {
        margin-inline: calc(var(--size-indent) * 2);
    }

    .component__execList {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: scroll;
        min-height: calc(var(--mg-component) * 2 + var(--h-control-small));
        padding-bottom: 0;
        border-radius: unset;
        border-inline-width: 0;
        max-width: unset;
        font-size: var(--fs-large);
    }

    .component.table {
        padding-inline: var(--size-indent);
    }

    .component.table > .component__option,
    .component.table > p {
        margin-inline: var(--size-indent);
    }

    .component.textbox>[contenteditable] {
        padding-top: 5rem;
        padding-inline: var(--size-indent);
        overflow-y: auto;
    }
}

@media (max-width: 1000px) {
    main {
        padding-top: 1rem;
    }

    aside {
        order: -1;
        position: sticky;
        top: -66.2rem !important;
        z-index: 2;
    }

    .main__contents:empty::after {
        content: '컴포넌트 목록에서 버튼을 눌러 추가해 보세요!';
    }
}