.main__header__title:has(input:invalid)::before {
    content: "\F0028";
    color: var(--clr-invalid);
    font-family: var(--ff-icon);
    position: absolute;
}

.main__header__title>input {
    transition: 200ms padding;
}

.main__header__title>input:invalid {
    padding-left: 8rem;
}

.main__contents {
    padding: 0;
    padding-bottom: 15rem;
}

.main__contents:empty {
    aspect-ratio: 1;
}

.main__contents:empty::after {
    content: '여기에 컴포넌트(요소)를 끌어다 놓으면 추가할 수 있어요!';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--mg-component);
    height: 100%;
    background: var(--clr-background-dark);
}

footer:hover,
.component:hover {
    background-color: var(--clr-background-dark);
}

.main__contents:hover {
    background-color: transparent;
}

.component {
    display: flex;
    gap: var(--mg-component);
    flex-direction: column;
    border-top: var(--bs-small) solid var(--clr-border-lt);
    padding: var(--size-indent) calc(var(--size-indent) * 2);
    min-height: 10.5rem;
}

.component:last-child {
    border-bottom: var(--bs-small) solid var(--clr-border-lt);
}

.component>p {
    font-size: var(--fs-xlarge);
}

.component>* {
    max-width: 100%;
}

.component audio {
    margin-top: 1rem;
    min-width: calc(70% - 5rem);
}

.component__remove_btn {
    color: #fff;
    font-size: var(--fs-xlarge);
    position: absolute;
    top: var(--mg-component);
    right: var(--mg-component);
    border-radius: 50%;
    width: var(--h-control-large);
    height: var(--h-control-large);
    background-color: var(--clr-primary-base);
}

.component__remove_btn:hover {
    opacity: 0.7;
}

.component__remove_btn:active {
    background: var(--clr-invalid);
    opacity: 1;
}

.component_list {
    user-select: none;
}

.component_list>li {
    padding: 1rem var(--size-indent);
}

.component_list button {
    margin: -0.3rem 2rem;
    border-radius: 50%;
    width: var(--h-control-small);
    height: var(--h-control-small);
    line-height: var(--h-control-small);
    background: var(--clr-primary-base);
    color: var(--clr-font-alt);
}

aside> :first-child {
    transition: 400ms margin-top;
}

.component__execList {
    font-size: var(--fs-base);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(0px - var(--mg-component));
    border: var(--bs-small) solid var(--clr-border-dkst);
    border-radius: var(--br-smallest) var(--br-smallest) 0 0;
    padding: var(--mg-component);
    background-color: var(--clr-background-base);
}

.component__execList>button,
.input_color {
    border-radius: var(--br-smallest);
    min-width: var(--h-control-small);
    background: none;
    overflow: hidden;
}

.component__execList>* {
    text-align: center;
    height: var(--h-control-small);
    line-height: var(--h-control-small);
}

.component.title>[contenteditable] {
    line-height: 1.5;
}

.component.textbox>[contenteditable] {
    border: var(--bs-small) solid var(--clr-border-dkst);
    border-top-width: 0;
    border-radius: 0 0 var(--br-smallest) var(--br-smallest);
    padding: var(--size-indent) var(--mg-component);
    min-height: 10rem;
    background: var(--clr-background-dark);
    line-height: 1.5;
}

.component.textbox>[contenteditable] img {
    max-width: 100%;
}

.component.title>[contenteditable] {
    white-space: nowrap;
    border: var(--bs-small) solid var(--clr-border-dkst);
    border-radius: var(--br-smallest);
    padding: var(--mg-component);
    overflow-x: auto;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    background-color: transparent;
}

input[type="color"]::-webkit-color-swatch {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}

.input_color>input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.3rem;
}

.input_color::before {
    position: relative;
    z-index: 2;
}

.component__execList>input[type="number"] {
    text-align: center;
    padding: 0.5rem;
    width: 5rem;
}

.component__execList>input[type="number"]::-webkit-outer-spin-button,
.component__execList>input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    text-align: center;
    margin: 0;
}

.component__execList>input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.separator::before {
    content: '|';
}

.main__contents>div:hover *,
.main__header:hover *,
footer:hover * {
    --clr-background-dark: var(--clr-background-base);
}

aside {
    position: sticky;
}

@media (max-width: 500px) {
    main {
        margin: 0 0 var(--size-indent) 0;
        padding-inline: 0;
    }

    .main__contents {
        --fs-xxlarge: calc(var(--root_fs-xxlarge) * var(--zoom));
        --fs-xlarge: calc(var(--root_fs-xlarge) * var(--zoom));
        --fs-large: calc(var(--root_fs-large) * var(--zoom));
        --fs-base: calc(var(--root_fs-base) * var(--zoom));
        --fs-small: calc(var(--root_fs-small) * var(--zoom));
        --fs-smallest: calc(var(--root_fs-smallest) * var(--zoom));
    
        --h-control-smaller: calc(var(--root_h-control-smaller) * var(--zoom));
        --h-control-small: calc(var(--root_h-control-small) * var(--zoom));
        --h-control: calc(var(--root_h-control) * var(--zoom));
        --h-control-large: calc(var(--root_h-control-large) * var(--zoom));
        --h-button-large: calc(var(--root_h-button-large) * var(--zoom));
    
        --w-min-button: calc(var(--root_w-min-button) * var(--zoom));
    }

    .main__header>* {
        margin-inline: var(--mg-component);
    }

    .component.textbox {
        max-height: 100vh;
        padding-inline: 0;
    }

    .component.textbox > p:first-child {
        margin-inline: calc(var(--size-indent) * 2);
    }

    .component__execList {
        font-size: var(--fs-large);
        white-space: nowrap;
        flex-wrap: nowrap;
        border-inline-width: 0;
        border-radius: unset;
        padding-bottom: 0;
        max-width: unset;
        min-height: calc(var(--mg-component) * 2 + var(--h-control-small));
        overflow-x: scroll;
    }

    .component.table {
        padding-inline: var(--size-indent);
    }

    .component.table > .component__option,
    .component.table > p {
        margin-inline: var(--size-indent);
    }

    .component.textbox>[contenteditable] {
        padding-top: var(--h-control-large);
        padding-inline: var(--size-indent);
        overflow-y: auto;
    }

    aside > button {
        margin-inline: auto;
    }
}

@media (min-width: 1000px) {
    aside {
        top: calc(var(--h-header) + var(--mg-component)) !important;
        height: fit-content;
    }
}
@media (max-width: 1000px) {
    aside {
        top: -67.5rem !important;
        order: -1;
        z-index: 2;
    }

    .main__contents:empty::after {
        content: '컴포넌트 목록에서 버튼을 눌러 추가해 보세요!';
    }
}