/*
CSS 작성 규칙

다음과 같은 속성 순서를 지켜주세요.

content
font

display
flex

position
sizing
margin
border
padding
width
height

background
outline

ETC (Alphabet ASC)

*/

/* Font Declation */
/*
 font from https://www.yd.go.kr/?page_id=120264
 copright by 영덕군
*/
@font-face {
    font-family: "Yeongdeok Snow Crab";
    src: url("../resource/Yeongdeok\ Snow Crab.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Yeongdeok Sea";
    src: url("../resource/Yeongdeok\ Sea.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Variable */

:root {
    /*font*/
    --ff-contents: "Yeongdeok Sea", Helvetica, Arial, sans-serif;
    --ff-header: "Yeongdeok Snow Crab", Helvetica, Arial, sans-serif;
    --ff-icon: "Material Design Icons";
    --fs-xxlarge: 5rem;
    --fs-xlarge: 3rem;
    --fs-large: 2.2rem;
    --fs-base: 1.8rem;
    --fs-small: 1.4rem;
    --fs-smallest: 1.2rem;

    /*color*/
    --clr-primary-100: #1d9bf0;
    --clr-primary-86: #1d9bf0dd;
    --clr-primary-base: #1d9bf0aa;
    --clr-primary-46: #1d9bf077;
    --clr-border-lt: #eff3f4;
    --clr-border-base: #cccccc;
    --clr-border-dk: #dddddd;
    --clr-border-dkst: #e8e8e8;
    --clr-background-dark: #f7f9f9;
    --clr-background-base: #ffffff;
    --clr-valid: #008000;
    --clr-invalid: #f4212e;
    --clr-font: #000000;
    --clr-font-invaild: #555555;
    --clr-font-alt: #FFFFFF;

    --bs-small: 0.1rem;
    --bs-base: 0.2rem;
    --br-smallest: 0.3rem;
    --br-base: 1rem;
    --br-largest: 2rem;

    --size-indent: 2rem;
    --mg-component: 1.2rem;

    --h-control-small: 2.8rem;
    --h-control: 4rem;
    --h-control-large: 5rem;
    --h-button-large: 5.4rem;

    --w-min-button: 6rem;

    --duration-fast: 200ms;

    /*setting*/
    font-size: 10px;
    color: var(--clr-font);
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    font-size: var(--fs-base);
    font-family: var(--ff-contents);
}

*:focus {
    outline: none;
}

li,
ol,
ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: var(--mg-component);
    height: var(--mg-component);
}

::-webkit-scrollbar-thumb {
    border-radius: var(--br-smallest);
    border: solid var(--bs-base) var(--clr-background-dark);
    background: #00000044;
}

::-webkit-scrollbar-thumb:hover {
    background: #00000077;
}

::-webkit-scrollbar-thumb:active {
    background: #00000088;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* base Layout */

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: var(--h-header);
    min-height: 100vh;
    overflow: auto;
    background-color: var(--clr-background-base);
    --h-header: 5rem;
}

body::before,
body:not(:has(.index))::after {
    content: '';
    display: block;
    flex: 1;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-inline: var(--size-indent);
    max-width: 126rem;
    height: var(--h-header);
    line-height: var(--h-header);
    gap: var(--size-indent);
    z-index: 1;
    user-select: none;
}

header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--h-header);
    background-color: var(--clr-primary-base);
    backdrop-filter: blur(1rem);
}

main {
    display: flex;
    flex-direction: column;
    flex: 100;
    box-sizing: content-box;
    margin: var(--mg-component);
    min-width: 40rem;
    max-width: 90rem;
    gap: var(--size-indent);
}

hr {
    min-width: var(--bs-small);
    min-height: var(--bs-small);
    background-color: var(--clr-border-lt);
}

aside {
    display: flex;
    flex-direction: column;
    margin: var(--mg-component);
    width: 32rem;
    gap: var(--size-indent);
}

/* re-useable Component */

indicator {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0.5rem;
    margin: 0;
    pointer-events: none;
    --progress: 0;
    --progress-r: 100%;
}

indicator::before {
    content: '';
    position: absolute;
    top: 0;
    left: var(--progress);
    right: var(--progress-r);
    height: 100%;
    background-color: var(--clr-primary-base);
    transition: left 250ms, right 250ms;
}

input,
textarea,
button,
a {
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-font);
}

[placeholder]:empty::after {
    content: attr(placeholder);
    opacity: 0.5;
}

.input_suggest {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: var(--br-smallest);
    padding: 0;
    width: 100%;
    max-height: 36.5rem;
    background-color: var(--clr-background-base);
    box-shadow: 0 0 1rem 0 #4b749933;
    overflow: auto;
    z-index: 10;
}

.input_suggest>li {
    padding: var(--size-indent);
}

.input_suggest>li+li {
    border-top: var(--bs-small) solid var(--clr-border-base)
}

.input_suggest>li[value]:empty::after {
    content: attr(value);
}

.input_suggest>:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.input_suggest>:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

:focus+.input_suggest {
    display: block;
}

.input_suggest>li:hover {
    background-color: var(--clr-background-dark);
}

.input_container {
    height: var(--h-control);
    line-height: var(--h-control);
    outline: var(--bs-base) solid transparent;
    transition: outline-color var(--duration-fast);
}

.input_container::before {
    content: "";
    font-family: var(--ff-icon);
    font-size: var(--fs-xlarge);
}

.input_container>input,
.input_container>textarea {
    position: absolute;
    left: 0;
    border-radius: inherit;
    padding-inline: var(--size-indent);
    width: 100%;
    height: 100%;
    transition: padding var(--duration-fast);
}

.input_container:focus-within {
    outline-color: var(--clr-primary-base);
}

.input_container:not(.no-validity):has(:user-valid) {
    outline: var(--bs-base) solid var(--valid);
    padding-left: 1rem;
}

.input_container:not(.no-validity):has(:invalid) {
    outline: var(--bs-base) solid var(--invalid);
    padding-left: 1rem;
}

.input_container:not(.no-validity):has(input:user-valid)::before {
    content: "\F05E1";
    color: var(--valid);
}

.input_container:not(.no-validity):has(input:invalid)::before {
    content: "\F0028";
    color: var(--invalid);
}

.input_container:not(.no-validity) :user-valid,
.input_container:not(.no-validity) :invalid {
    padding-left: var(--h-control);
}

button.normal,
button.danger {
    display: block;
    width: 100%;
    max-width: 32rem;
    min-width: var(--w-min-button);
    border-radius: calc(var(--h-button-large) / 2);
    line-height: var(--h-button-large);
    font-family: inherit;
    font-size: var(--fs-large);
    color: var(--clr-font-alt);
    background: var(--clr-primary-base);
    opacity: 0.8;
}

button.danger {
    background: var(--invalid);
}

button.normal:hover,
button.danger:hover {
    opacity: 1;
}

button.normal:active,
button.danger:active {
    opacity: 0.6;
}

[onclick] {
    cursor: pointer;
}

.fold {
    opacity: 0.4;
    margin-bottom: 0 !important;
}


.gallery_container {
    position: absolute;
    width: 100%;
    top: var(--h-control-large);
    left: 0;
    max-height: calc(100% - var(--h-control-large));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding-inline: 0.5rem;
}

.gallery_container_cell {
    aspect-ratio: 1;
    background-color: var(--clr-border-dkst);
    background-size: cover;
    background-position: center;
    font-size: var(--fs-xxlarge);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: uncheck 300ms forwards;
}

.gallery_container_cell>input {
    display: none;
}

button.gallery_container_cell {
    width: auto;
    margin: 0;
}

input.gallery_container_cell {
    appearance: none;
}

.gallery_container_cell:checked,
.gallery_container_cell:active {
    animation: check 300ms forwards;
    outline: 0.3rem solid var(--clr-primary-base);
}

.gallery_container_cell.localStorage::before {
    content: "\F024B";
    font-family: var(--ff-icon);
    font-size: inherit;
}

.gallery_container_cell.link::before {
    content: "\F0339";
    font-family: var(--ff-icon);
    font-size: inherit;
}

@keyframes check {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    20% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(0.91);
        opacity: 0.8;
    }
}

@keyframes uncheck {
    0% {
        transform: scale(0.91);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* one-use-component */

/*Header*/
.header__logo {
    margin-right: auto;
    white-space: nowrap;
    font-family: var(--ff-header);
}

header>[title] {
    transition: 350ms padding-right;
    padding-right: 0;
}

header>[title]::before {
    font-size: var(--fs-xlarge);
}

header>[title]::after {
    content: attr(title);
    position: absolute;
    right: 0;
    width: 0;
    font-size: var(--fs-small);
    white-space: nowrap;
    overflow: hidden;
    transition: 350ms width;
}

header>[title]:hover {
    padding-right: var(--w-min-button);
    transition-delay: 200ms;
}

header>[title]:hover::after {
    width: var(--w-min-button);
    transition-delay: 250ms;
}

/*main*/

main>div,
main>footer {
    padding-inline: var(--mg-component);
}

.main__header {
    display: flex;
    flex-wrap: wrap;
    padding-block: var(--size-indent) var(--mg-component);
}

.main__header__title {
    margin-right: var(--mg-component);
    margin-bottom: var(--mg-component);
    max-width: fit-content;
    height: var(--fs-xxlarge);
    font-size: var(--fs-xxlarge);
    font-weight: bold;
    white-space: nowrap;
}

.main__header__timestamp {
    width: 100%;
    height: var(--fs-small);
    font-size: var(--fs-small);
}

.main__header__toolbox {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    max-width: fit-content;
    height: var(--h-control);
    border: var(--bs-small) solid var(--clr-border-base);
    border-radius: var(--br-base);
    background-color: var(--clr-border-base);
    gap: var(--bs-small);
    overflow: hidden;
}

.main__header__toolbox:empty {
    display: none !important;
}

.main__header__toolbox>button {
    min-width: var(--w-min-button);
    color: var(--clr-font-invaild);
    background-color: var(--clr-background-base);
}


.main__notice {
    display: block;
    border: var(--bs-small) solid var(--clr-primary-100);
    border-radius: var(--br-smallest);
    padding-inline: var(--size-indent);
    min-height: var(--h-button-large);
    white-space: pre-line;
    line-height: var(--h-button-large);
    color: var(--clr-font-alt);
    background-color: var(--clr-primary-86);
    overflow: hidden;
}

.main__notice__timestamp {
    float: right;
    opacity: 0.46;
}

.main__notice.open .main__notice__content {
    max-height: 30rem;
    overflow: auto;
    padding-bottom: var(--size-indent);
}

.main__notice__content {
    --clr-background-dark: #3BA8F2;
    display: block;
    margin-inline: calc(0px - var(--size-indent) - var(--bs-small));
    padding-inline: var(--size-indent);
    padding-bottom: 0;
    max-height: 0;
    line-height: 1.5;
    transition: 500ms max-height, 500ms padding-bottom;
}

.main__document_info {
    display: flex;
    height: var(--h-control);
    padding-inline: var(--size-indent);
    border-radius: var(--br-smallest);
    border: var(--bs-small) solid var(--clr-border-lt);
    line-height: var(--h-control);
    background-color: var(--clr-background-dark);
}

.main__document_info::before {
    content: '분류:';
}

.main__document_info>a {
    color: black;
    padding-inline: calc(var(--size-indent) / 2);
    line-height: var(--h-control);
}

.main__document_info>a+a:not(.category)::before {
    content: '>';
    padding-right: var(--size-indent)
}

.main__document_info>.category::before {
    content: '카테고리:';
}

.main__document_info>.category {
    margin-left: var(--mg-component);
    margin-block: calc(var(--mg-component) / 2);
    border-radius: var(--mg-component);
    padding-inline: var(--size-indent);
    line-height: calc(var(--h-control) - var(--mg-component));
    background: var(--clr-primary-base);
}

.main__contents {
    flex: 1;
}

footer {
    font-size: var(--fs-small);
    min-height: 15rem;
    white-space: pre-line;
    text-align: right;
}

footer::after {
    content: "\A이 저작물은  CC BY-NC-SA 2.0 KR에 따라 이용할 수 있습니다. (단, 라이선스가 명시된 일부 문서 및 삽화 포함)\A기여하신 문서의 저작권은 각 기여자에게 있으며, 각 기여자는 기여하신 부분의 저작권을 갖습니다.\A\A네무위키는 백과사전이 아니며 검증되지 않았거나, 편향적이거나, 잘못된 서술이 있을 수 있습니다.\A네무위키는 위키위키입니다. 여러분이 직접 문서를 고칠 수 있으며, 다른 사람의 의견을 원할 경우 직접 토론을 발제할 수 있습니다.\A";
}

/*aside*/

.aside__container {
    border-radius: var(--br-largest);
    padding-bottom: var(--size-indent);
    background-color: var(--clr-background-dark);
}

.aside__container.input_container {
    border-radius: calc(var(--h-control-large) / 2);
    height: var(--h-control-large);
}

.aside__container__title {
    margin-bottom: var(--mg-component);
    border-bottom: var(--bs-small) solid var(--clr-border-base);
    padding: var(--size-indent) var(--size-indent) var(--mg-component);
    font-size: var(--fs-large);
    line-height: var(--fs-large);
}

/* Responsive Design */

@media (max-width: 500px) {
    :root {
        --fs-xxlarge: 3.2rem;
    }

    .main__document_info,
    .main__notice {
        --fs-base: var(--fs-small);
    }

    .main__contents {
        padding-inline: 0;
    }

    editable-table,
    .textbox {
        zoom: 0.8;
    }
}

@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }

    main {
        max-width: unset;
        min-width: unset;
    }

    aside {
        width: auto;
    }
}

@media (max-width: 1200px) {
    .index {
        display: none !important;
    }
}

/* Error Page */

error::after,
error::before,
error {
    content: attr(state-code);
    font-family: var(--ff-header);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 10rem;
    margin: auto;
    font-size: 10rem;
    z-index: 9999;
    text-align: center;
}

error::before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
}

error::after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF00FF;
    z-index: -1;
}

body.error footer::after {
    content: "\A원하시는 문서를 찾을 수 없습니다.\A삭제된 문서 이거나 옳바른 주소 인지 확인해주세요.";
}

@keyframes glitch-it {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    to {
        transform: translate(0);
    }
}

/* DeveloperMode */
body[developerMode="true"] img,
body[developerMode="true"] .header__logo {
    opacity: 0;
}

body[developerMode="true"] * {
    color: #00000022 !important;
}