.main__contents>div:hover,
.main__header:hover,
footer:hover {
    background-color: var(--clr-background-dark);
}

.index {
    flex: 1;
    counter-reset: index;
    height: calc(100vh - var(--h-control-large));
    position: sticky;
    top: var(--h-control-large);
}

.index__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.index>a {
    position: absolute;
    display: block;
    height: 2rem;
    text-align: center;
    height: 2.8rem;
    width: 2.8rem;
    line-height: 2.8rem;
    right: 0;
}

.index>a::after {
    content: "\F09DE";
    font-family: var(--ff-icon);
    font-size: var(--fs-small);
    color: #5a5a5a;
}

.index__hover:hover~a[data-tooltip]::before,
a[data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
    right: 100%;
}

a[data-tooltip]::before {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--clr-border-base);
    height: 2.8rem;
    line-height: 2.8rem;
    white-space: nowrap;
    padding: 0 0.8rem;
    transition-property: opacity, right;
    transition-duration: 200ms;
    font-size: var(--fs-small);
    color: black;
    cursor: pointer;
    background-color: var(--clr-background-base);
}

a[data-tooltip]:hover::before {
    background-color: var(--clr-background-dark);
}



input[type="file"] {
    overflow: hidden;
    border-radius: 1.75rem;
    padding: 0;
    background: var(--clr-background-dark);
    margin: 2rem 0;
    border: 0.1rem solid var(--clr-border-lt);
    cursor: pointer;
    display: block;
}

input[type="file"]:hover {
    border-color: var(--clr-border-dk);
}

::file-selector-button {
    font-family: var(--ff-contents);
    background-color: var(--clr-primary-base);
    color: white;
    height: 3.5rem;
    font-size: var(--fs-base);
    border: none;
    margin-right: 1.5rem;
    padding: 0 2rem;
    opacity: 0.7;
    cursor: pointer;
}

::file-selector-button:hover {
    opacity: 1;
}

::file-selector-button:active {
    opacity: 0.55;
}



editable-table {
    --outer-line-width: 0.1rem;
    --outer-line: var(--clr-border-base);
    --inner-line: var(--clr-border-base);
    overflow-x: auto;
    max-width: 100%;
    display: inline-block;
    border: var(--outer-line-width) solid var(--outer-line);
    border-collapse: collapse;
    background: var(--clr-background-base);
}

.editable-table__tbody {
    display: table;
}

.editable-table__row {
    display: table-row;
    flex-direction: row;
    height: 5rem;
}

.editable-table__row.header>* {
    background-color: var(--clr-background-dark);
    height: 5rem;
}

.editable-table__row.header.readonly,
.editable-table__row.header.readonly * {
    height: 0 !important;
}

.editable-table__row.header.readonly input {
    display: none;
}


.editable-table__cell {
    display: table-cell;
    box-sizing: content-box;
    overflow-wrap: anywhere;
    border: 0.1rem solid var(--inner-line);
    height: inherit;
    vertical-align: top;
}

.editable-table__cell>div {
    overflow-wrap: anywhere;
}

.editable-table__cell img {
    max-width: 100%;
}

.editable-table__cell a::before {
    content: "\F0339";
    font-family: var(--ff-icon);
}

.editable-table__cell a {
    color: green
}

.editable-table__row.header.readonly+.editable-table__row>.editable-table__cell,
.editable-table__row:first-child>.editable-table__cell {
    border-top: none !important;
}

.editable-table__row.header.readonly>.editable-table__cell,
.editable-table__row:last-child>.editable-table__cell {
    border-bottom: none !important;
}

.editable-table__cell:first-child {
    border-left: none !important;
}

.editable-table__cell:last-child {
    border-right: none !important;
}

.editable-table__cell:focus-within {
    outline-offset: -0.1rem;
    outline: 0.1rem solid var(--clr-primary-base) !important;
}

.component__option {
    display: flex;
    margin-top: 1rem;
    white-space: nowrap;
    line-height: 4rem;
    overflow: hidden;
}

.component__option__label {
    margin-right: 1.5rem;
}

*+.component__option__label {
    margin-left: 1.5rem;
}

.component__option__button {
    min-width: 4rem;
    background: var(--clr-background-base);
    border: 0.1rem solid var(--clr-border-dkst);
    border-radius: 0.4rem;
    margin-left: 1.5rem;
}

.component__option__button:not(:first-of-type) {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

.component__option__button:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.component__option__button.image::before {
    content: "\F087C";
    font-family: var(--ff-icon);
}

.component__option__button.link::before {
    content: "\F0339";
    font-family: var(--ff-icon);
}

.component__option__button:hover {
    background: var(--clr-border-dkst);
    color: var(--clr-primary-base);
}

.component__option__button:active {
    opacity: 0.55;
}

.component__option__input {
    display: inline-block;
    min-width: 6rem;
    width: 6rem;
    height: 4rem;
    margin: 0 0.5rem;
    border: 0.1rem solid var(--clr-border-dkst);
    border-radius: 0.4rem;
    background: var(--clr-background-dark);
}

.component__option__input>input {
    padding: 0;
    text-align: center;
}

.component__option__input>input::-webkit-color-swatch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.component__option__input>input[type="color"] {
    border: 0.4rem solid var(--clr-background-dark);
}

.component__option__input:has(input[type="color"]) {
    border-radius: 50%;
    width: 4rem;
    min-width: 4rem;
    overflow: hidden;
}

.component__option__input:focus-within {
    border-color: var(--clr-primary-base);
}

editable-table [contenteditable] {
    white-space: pre-line;
    width: 100%;
    height: 100%;
    padding: 1.25rem 2rem;
}

blockquote {
    padding: 1.5rem;
    border: 0.1rem dashed var(--clr-border-base);
    border-left: 0.5rem solid var(--clr-primary-base);
    margin: 1.5rem 0;
    background: var(--clr-border-lt);
}

img::after {
    content: '\F082B';
    font-size: var(--fs-xlarge);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: var(--clr-background-base);
    border: 0.1rem solid #aaa;
    color: #aaa;
    font-family: var(--ff-icon);
}

body.loading .main__header__title::after,
body.loading .main__header__timestamp::after,
body.loading .main__contents::after,
body.loading aside>*::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-background-base);
    z-index: 1;
    opacity: 1;
}

body.loading .main__header__timestamp::after {
    width: 40%;
}

body.loading .main__contents::after {
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}

body.loading aside>*::after {
    width: 100%;
}


:modal {
    position: fixed;
    border: 0.1rem solid var(--clr-border-lt);
    border-radius: 0.5rem;
    min-width: 30rem;
    min-height: 6rem;
    margin: auto;
    padding: 1rem;
    background-color: var(--clr-background-base);
    text-align: center;
    overflow: visible;
}

:modal form {
    margin-bottom: 2rem;
}

:modal button {
    width: 25rem;
    line-height: 5rem;
    margin: 1rem auto 0;
}

:modal button::before {
    font-family: var(--ff-icon);
}

:modal button[value='cancel']::before {
    content: "\F015A";
}

:modal button[value='default']::before {
    content: "\F05E1";
}

:modal .input_container {
    height: 5rem;
    border-radius: 2.5rem !important;
    width: 25rem;
    margin: 1.5rem auto;
    border-radius: 1.5rem;
    background-color: var(--clr-background-dark);
}

.modal__title {
    font-size: 3rem;
    font-family: var(--ff-header);

}

.modal__sub_title {
    font-size: 1.7rem;
    text-align: center;
    margin: 3rem;
}

.fullSize:modal {
    width: 100%;
    height: 100%;
    max-width: 40rem;
    max-height: 80rem;
    border-radius: 0;
    padding: 0;
}

.fullSize .modal__sub_title {
    margin: 0;
    height: 5rem;
    line-height: 5rem;
}

.fullSize button[value='default'],
.fullSize button[value='cancel'] {
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    padding: 0;
    height: var(--h-control-large);
    width: var(--h-control-large);
    background: none;
    font-size: var(--fs-small);
}

.fullSize button[value='default'] {
    right: 0;
    color: inherit;

}

.fullSize button[value='cancel'] {
    left: 0;
    color: inherit;
    font-size: inherit;
}

.fullSize button[value='default']::before {
    content: '완료';
    font-family: inherit;
}
.fullSize form{
    margin: 0;
    height: 100%;
}

.non-auth header .account,
.non-auth .main__header__toolbox>button.edit {
    display: none;
}