/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>is licensed by CC BY 4.0</div>
      OR
      <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>

      CSS rules to specify fonts

      font-family: "Segoe";;

*/

@font-face{
    font-family: "Segoe";
    src: url("./Segoe.woff")format("woff");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
 
