:root {
    font-size: 10px;
    font-family: "Segoe", "Segoe UI", sans-serif;
    --border-color: #2b2b2b;
    --background-dark: #181818;
    --background-light: #1f1f1f;
    --highligh-color: #0078d4;
    --color: #d7d7d7;
    --color-dark: #ffffff80;
    color: var(--color);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    position: relative;
    font-size: 1.3rem;
}

*:focus {
    outline: none;
}

body {
    overflow: hidden;
}

.bodyContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    color: var(--color);
}

button:disabled {
    cursor: not-allowed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3.5rem;
    border-bottom: 0.1rem solid var(--border-color);
    background-color: var(--background-dark);
    z-index: 20;
}

footer {
    height: 2.3rem;
    border-top: 0.1rem solid var(--border-color);
    background-color: var(--background-dark);
    overflow: hidden;
}

footer>* {
    font-size: 1.9rem;
    line-height: 2.2rem;
    float: left;
}

footer>*.right {
    float: right;
}

.rootContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: column;
    min-width: 5rem;
    z-index: 2;
    background-color: var(--background-dark);
    border-right: 0.1rem solid var(--border-color);
    overflow: hidden;
}

aside {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    max-width: 30rem;
    background-color: var(--background-dark);
    border-right: 0.1rem solid var(--border-color);
}

aside > .aside_folder > .aside_line:first-child {
    text-transform: uppercase;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--background-light);
    max-width: calc(100% - 35.1rem);
}

aside[style*="display: none"] + section {
    min-width: unset !important;
    max-width: unset !important;
}

p {
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1rem;
}

button.resizer {
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

button.resizer::after {
    content: '';
    position: absolute;
    top: 0;
    left: -0.3rem;
    right: -0.3rem;
    height: 100%;
    background-color: var(--highligh-color);
    opacity: 0;
    transition: opacity 200ms;
}

button.resizer:hover::after {
    opacity: 1;
}

button.rect_button {
    margin: 2rem;
    padding: 0.4rem;
    border-radius: 0.2rem;
    background: var(--highligh-color);
    line-height: 1.8rem;
}

.subTab__buttonContianer {
    display: flex;
    height: 3.5rem;
    padding: 0;
}

.subTab__buttonContianer>div {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.subTab__buttonContianer>div::after {
    content: '';
    display: block;
    flex: 1;
    background-color: var(--background-dark);
    border-bottom: 0.1rem solid var(--border-color);
}

.subTab__buttonContianer>div>button {
    height: 100%;
    padding: 0 1rem;
    border-bottom: 0.1rem solid var(--border-color);
    border-right: 0.1rem solid var(--border-color);
    background-color: var(--background-dark);
    white-space: pre;
}

.subTab__buttonContianer>div>button[state="0"] {
    font-style: italic;
}

.subTab__buttonContianer>div>button.on {
    border-bottom-width: 0;
    border-top: 0.2rem solid var(--highligh-color);
    background-color: transparent;
}

section>.v-scrollbar {
    margin-top: 3.5rem;
}
nav>p{
    line-height: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    text-align: center;
    opacity: 0.6;
}
nav>button {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.4rem;
    opacity: 0.6;
    background: transparent;
}

nav>button.on, nav>button:hover,nav>p:hover {
    opacity: 1;
}

nav>button.on::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.2rem;
    background: var(--highligh-color);
}

code {
    font-size: 1.1rem;
    padding: 0.6rem;
    color: #ccccccaa;
    font-family: "Segoe", "Segoe UI", sans-serif;
    background-color: #80808011;
}

.section__empty {
    text-align: center;
    margin: auto 0;
    container-name: empty_section;
    container-type: inline-size;
    min-width: 36rem;
}

.section__empty>p {
    height: fit-content;
    padding: 0;
    text-align: center;
}

.section__empty__icon {
    line-height: 30rem;
    font-size: 30rem;
    color: var(--background-dark);
}

.section__empty__command>* {
    display: inline-block;
    padding: 0.3rem;
    color: #ffffff80;
    width: 40%;
}

.section__empty__command>*:first-child {
    text-align: right;
}

.section__empty__command>*:last-child {
    text-align: left;
}

.aside_line {
    height: 2.2rem;
    line-height: 2.2rem;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.aside_line:hover, .aside_folder.dragover {
    background-color: #2a2d2e;
}

.aside_folder {
    line-height: 2.2rem;
    max-height: 2.2rem;
    overflow: hidden;
}

.aside_line::before {
    width: 2.2rem;
    text-align: center;
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.aside_folder.open {
    max-height: unset;
}

.aside_folder>.aside_line:first-child::before {
    content: "\F0142";
}

.aside_folder.open>.aside_line:first-child::before {
    content: "\F0140";
}

.aside_line::before {
    content: "\F09AA";
}

.aside_line[type="woff2"]::before,
.aside_line[type="application/font-woff"]::before,
.aside_line[type="ttf"]::before {
    color: #ce3434;
    content: "\F06D6";
}

.aside_line[type*="image"]::before {
    color: #b864b8;
    content: "\F02EF";
}
.aside_line[type*="audio"]::before {
    color: #b864b8;
    content: "\F057E";
}

.aside_line[type*="video"]::before {
    color: #ff4040;
    content: "\F1705";
}

.aside_line[type="application/json"]::before {
    color: #cbcb41;
    content: "\F0169";
}

.aside_line[type="text/html"]::before {
    color: #e37933;
    content: "\F0174";
}

.aside_line[type="text/css"]::before {
    color: #519aba;
    content: "\F0423";
}

.aside_line[type="text/javascript"]::before {
    color: #cbcb41;
    content: "\F031E";
}

.aside_line[type="application/zip"]::before {
    color: #4196cb;
    content: "\F07B9";
}

.aside_line:focus::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.2rem;
    border: 0.1rem solid var(--highligh-color);
    background-color: #0078d455;
    box-sizing: border-box;

}

.h-scrollbar {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: #ffffff11;
    transition: height 300ms;
    z-index: 10;
}

.v-scrollbar {
    position: absolute;
    left: 100%;
    top: 0;
    width: 0.5rem;
    border-radius: 0.25rem;
    background-color: #ffffff11;
    transition: width 300ms;
    z-index: 10;
}

.h-scrollbar.overlay {
    top: auto;
    bottom: 0;
    background-color: #ffffff44;
}

.v-scrollbar.overlay {
    left: auto;
    right: 0;
    background-color: #ffffff44;
}

.h-scrollbar:hover {
    height: 1rem;
}

.v-scrollbar:hover {
    width: 1rem;
}

.h-scrollbar.unused,
.v-scrollbar.unused {
    display: none;
}

.header__button {
    display: inline-block;
    margin: auto 0;
    height: 2.4rem;
    width: 2.4rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.3rem;
    opacity: 0.3;
    z-index: -1;
}
.header__button:hover {
    opacity: 1;
}

.header__search {
    height: 2.4rem;
    width: 30vw;
    max-width: 60rem;
    min-width: 10rem;
    border: 0.1rem solid #9d9d9d40;
    border-radius: 0.6rem;
    margin: auto 0;
    background-color: var(--background-light);
    text-align: center;
    color: var(--color-dark);
    line-height: 2.2rem;
}

.header__search:focus, .header__search:focus-within {
    position: absolute;
    top: 2rem;
    width: 54rem;
    max-width: 70vw;
    border-color: var(--highligh-color);
    text-align: left;
    height: 2.7rem;
    line-height: 2.5rem;
}
.header__search input{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    background: none;
    text-align: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1rem;
}
.header__search__suggestion {
    display: none;
}
.header__search:focus .header__search__suggestion,
.header__search:focus-within .header__search__suggestion {
    content: '';
    display: block;
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    height: 40vh;
    min-height: 35rem;
    border-radius: 1rem;
    background-color: #aaaaaa20;
    backdrop-filter: blur(15px);
    color: #E3E3E3;
    padding: 3.5rem 0.8rem 0.8rem 0.8rem;
    box-shadow: 0 0 10px 2px #00000055;
    z-index: -1;
}

.subTab__contents {
    flex: 1;
    display: grid;
    width: 100%;
    grid-template-columns: 6.8rem 1fr;
    grid-auto-rows: 1.9rem;
    font-family: Consolas, monospace;
    counter-reset: line_number;
    background-color: inherit;
    overflow: hidden;
    --scrollTop: 0px;
    --scrollLeft: 0px;
}

.subTab__contents[mime="image"]:not([mime-sub="svg+xml"]),
.subTab__contents[mime="video"],
.subTab__contents[mime="audio"] {
    display: flex;
    text-align: center;
    justify-content: center;
}

.subTab__contents .line_number {
    position: sticky;
    left: 0;
    counter-increment: line_number;
    padding-right: 2.5rem;
    text-align: right;
    color: #6e7681;
    user-select: none;
    background-color: inherit;
    z-index: 1;
}

.subTab__contents .line {
    white-space: pre;
    box-sizing: content-box;
    padding-right: 10rem;
}

.subTab__contents img {
    margin: auto;
    --size: 2rem;
    --pos: 1rem;
    --color: #00000088;
    min-width: attr(width);
    max-width: attr(width);
    background-size: var(--size) var(--size);
    background-position-x: 0, var(--pos), var(--pos), 0;
    background-position-y: 0, var(--pos), 0, var(--pos);
    background-image: 
        linear-gradient(45deg, var(--color) 25%, transparent 25%, 
                        transparent 75%, var(--color) 75%, var(--color)),
        linear-gradient(45deg, var(--color) 25%, transparent 25%, 
                        transparent 75%, var(--color) 75%, var(--color));
}

.subTab__contents video {
    max-width: 100%;
    max-height: 100%;
}

.subTab__contents audio {
    margin: auto;
}

.subTab__contents::after {
    content: '';
    display: block;
    height: 80vh;
    grid-column: 1/3;
}

.line_number::after {
    content: counter(line_number);
}

.line_number.focused::after {
    color: white;
}

.line_number.focused+.line {
    outline: 0.1rem solid #ffffff22;
}

.subTab__contents .line,
.subTab__contents .line_number {
    line-height: 1.9rem;
    font-size: 1.4rem;
    height: 1.9rem;
}

.caret {
    border-left: 0.1rem solid white;
    margin-right: -0.1rem;
    animation: blink-effect 1s step-end infinite;
}

.hangulCaret {
    border-bottom: 0.1rem solid white;
    margin-bottom: -0.1rem;
}

.subTab__contents:not(:focus) .caret,
.subTab__contents:not(:focus) .hangulCaret {
    display: none;
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

.subTab__contents>.line span {
    font-size: inherit;
    line-height: inherit;
    height: inherit;
}

/*
.subTab__contents > .line span,
span.sel {
    font-size: inherit;
    line-height: inherit;
    height: inherit;
}
span.sel::before {
    content: '';
    position: absolute;
    top: -0.1rem;
    left: 0;
    right: 0;
    height: 1.9rem;
    background-color: #519aba55;
}
span.sel.empty::after {
    content: '';
    position: absolute;
    width: 0.2rem;
    height: 0.2rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0.1rem;
    background-color: #ffffff55;
}*/

.c_0 {
    color: green;
}

.c_1 {
    color: green;
}

.str_0 {
    color: orangered;
}

.str_1 {
    color: orangered;
}

.str_2 {
    color: orangered;
}

.b_0 {
    color: yellow;
}

.e_0 {
    color: white;
}

.d_0 {
    color: lime;
}

.t_0 {
    color: skyblue;
}

.etc {
    color: white;
}


/*UPDATED CSS*/

.caret {
    position: absolute;
    height: 1.9rem;
    margin: 0 !important;
}

.selectionContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    pointer-events: none;
    --scrollTop: inherit;
    --scrollLeft: inherit;
    margin-top: var(--scrollTop);
    margin-left: var(--scrollLeft);
}

.selectionContainer>span {
    position: absolute;
    background-color: #519aba55;
    box-sizing: content-box;
    padding: 0.1rem 0;
    margin: -0.1rem 0;
}

.contextContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    cursor: text;
    pointer-events: none;
}

.contextMenu {
    position: absolute;
    min-width: 20rem;
    border-radius: 1rem;
    background-color: #aaaaaa20;
    backdrop-filter: blur(15px);
    color: #E3E3E3;
    padding: 0.8rem;
    box-shadow: 0 0 10px 2px #00000055;
    pointer-events: all;
}

.contextMenu__item {
    padding: 0 4.8rem;
    border-radius: 0.2rem;
    height: 2.8rem;
    line-height: 2.8rem;
    cursor: pointer;
}
.contextMenu__item:not(.disabled):hover {
    background-color: #ffffff11;
}

.contextMenu__item.disabled {
    color: #9AA0A6;
}

.contextMenu__item.mdi::before {
    position: absolute;
    left: 3rem;
}
.contextMenu__item[shortcut]::after {
    content: attr(shortcut);
    float: right;
    margin-left: 2rem;
    opacity: 0.6;
}

.contextMenu__line {
    background-color: #ffffff20;
    height: 0.1rem;
    margin: 0.8rem 0.5rem;
}