
@font-face {
    font-family: "headerFont";
    src: url("../font/Yeongdeok\ Snow Crab.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "mainFont";
    src: url("../font/Yeongdeok\ Sea.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-size: 10px;
    font-family: "mainFont";
    --accent: #1d9bf0aa;
    --border: #eff3f4;
    --border2: #ccc;
    --background-dark: #f7f9f9;
    --background: #FFF;
    --block-padding: 2rem;
    --border-radius: 2rem;
    --valid: #008000;
    --invalid: #f4212e;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    position: relative;
    font-size: 2rem;
}

*:focus {
    outline: none;
}

li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background);
    height: 100%;
    background-color: var(--background-dark);
}
header{
    height: 5rem;
    z-index: 10;
    max-width: 126rem;
    padding: 0 2rem;
    margin: auto;
    width: 100%;
}
header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    background-color: var(--accent);
    backdrop-filter: blur(1rem);
}
header > a {
    display: inline-block;
    color: black !important;
    font-size: 2rem;
    line-height: 5rem;
    font-family: "headerFont";
    text-decoration: none !important;
    margin-right: 2rem;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main > section {
    flex: 1;
    transition: max-height 200ms;
    max-height: 100vh;
    overflow: visible;
}
body[state="auth"] #login,
body:not([state="auth"]) #workspace {
    max-height: 0;
    overflow: hidden;
}
#login {
    display: flex;
    justify-content: center;
}
#workspace {
    display: flex;
    justify-content: flex-start;
}
.login__prompt {
    margin: auto;
    width: 30rem;
    text-align: center;
}
.login__prompt__title {
    font-family: "headerFont";
    font-size: 3rem;
}
.login__prompt > p {
    margin: 1rem 0;
}
.login__prompt__side_buttons {
    margin-top: 0.5rem !important;
    text-align: justify;
}
.login__prompt__side_buttons > a {
    color: black !important;
    text-decoration: none !important;
}
.button {
    display: inline-block;
    height: 5rem;
    width: 20rem;
    border-radius: 0.5rem;
    background-color: var(--accent);
    font-family: inherit;
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
}

.input {
    display: inline-block;
    width: 30rem;
    height: 5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--border2);
    margin-top: 3rem;
    background: var(--background);
}

.input > [contenteditable] {
    display: flex;
    width: auto;
    height: 100%;
    padding: 1rem 0;
    align-items: center;
    text-align: left;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0 2rem;
    text-overflow: clip;
}


.input.secret > [contenteditable] {
    -webkit-text-security: disc;
}

.input[title]::before {
    content: attr(title);
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    font-size: 1.4rem;
}

tab {
    margin: 1rem;
    margin-bottom: auto;
    border: 0.1rem solid var(--border2);
    border-radius: 0.4rem;
    min-height: 40rem;
}
.tab__tab_menu {
    height: 2rem;
}
.tab__search {
    margin-top: 0;
}