@font-face {
    font-family: "headerFont";
    src: url("../font/Yeongdeok\ Snow Crab.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "mainFont";
    src: url("../font/Yeongdeok\ Sea.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-size: 10px;
    font-family: "mainFont";
    --accent: #1d9bf0aa;
    --accent-half: #1d9cf064;
    --border: #eff3f4;
    --border2: #ccc;
    --background-dark: #f7f9f9;
    --background: #FFF;
    --block-padding: 2rem;
    --border-radius: 2rem;
    --valid: #008000;
    --invalid: #f4212e;
}

::-webkit-scrollbar {
    display: none;
    width: 1.1rem;
    height: 1.1rem;
}

::-webkit-scrollbar-thumb {
    background: #00000044;
    border-radius: 0.2rem;
    border: solid 0.2rem var(--background-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: #00000077;
}

::-webkit-scrollbar-thumb:active {
    background: #00000088;
}

::-webkit-scrollbar-track {
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    position: relative;
    font-size: 2rem;
}

button,
input {
    font-family: inherit;
}


*:focus {
    outline: none;
}

li {
    list-style: none;
}

.button {
    display: inline-block;
    height: 5rem;
    width: 20rem;
    border-radius: 0.5rem;
    background-color: var(--accent);
    font-family: inherit;
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.input {
    display: inline-flex;
    width: 30rem;
    height: 5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--border2);
    margin-top: 3rem;
    background: var(--background);
    transition: border-color 200ms;
}

.input>[contenteditable] {
    flex: 1;
    display: flex;
    width: auto;
    height: 100%;
    padding: 1rem 0;
    align-items: center;
    text-align: left;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0 2rem;
    text-overflow: clip;
}


.input.secret>[contenteditable] {
    -webkit-text-security: disc;
}

.input[title]::before {
    content: attr(title);
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    font-size: 1.4rem;
}

.input:has([state="invalid"]) {
    animation: 300ms vibration forwards;
}

.input:has([contenteditable]:focus) {
    border-color: var(--accent);
}

@keyframes vibration {
    0% {
        left: 0;
    }

    20% {
        left: -2rem;
    }

    40% {
        left: 2rem;
    }

    60% {
        left: -1rem;
    }

    80% {
        left: 1rem;
    }

    100% {
        left: 0;
        border-color: red;
    }
}

.icon::before {
    font-family: "Material Design Icons";
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background);
    height: 100%;
    background-color: var(--background-dark);
}

header {
    height: 5rem;
    z-index: 10;
    max-width: 126rem;
    padding: 0 2rem;
    margin: auto;
    width: 100%;
}

header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    background-color: var(--accent);
    backdrop-filter: blur(1rem);
}

header>a {
    display: inline-block;
    color: black !important;
    font-size: 2rem;
    line-height: 5rem;
    font-family: "headerFont";
    text-decoration: none !important;
    margin-right: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main>section {
    flex: 1;
    transition: max-height 200ms;
    max-height: 100vh;
    overflow: auto;
}

main>section::-webkit-scrollbar {
    display: block !important;
}

body[state="auth"] #login,
body:not([state="auth"]) #workspace {
    max-height: 0;
    overflow: hidden;
}

#login {
    display: flex;
    justify-content: center;
}

#workspace {
    display: flex;
    justify-content: flex-start;
}

.login__prompt {
    margin: auto;
    width: 30rem;
    text-align: center;
}

.login__prompt__title {
    font-family: "headerFont";
    font-size: 3rem;
}

.login__prompt>p {
    margin: 1rem 0;
}

.login__prompt__side_buttons {
    margin-top: 0.5rem !important;
    text-align: justify;
}

.login__prompt__side_buttons>a {
    color: black !important;
    text-decoration: none !important;
}

tab {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: auto;
    border: 0.1rem solid var(--border2);
    border-radius: 0.4rem;
    transition-property: max-width, min-width, max-height, min-height;
    transition-duration: 200ms;
    min-width: 30rem;
    max-width: 30rem;
    max-height: calc(100vh - 7rem);
    overflow: hidden;
    background-color: white;
    transform: scale(1);
}

tab.minimize:not([class*="minimize maximize"]) {
    max-height: 2.2rem;

}

tab.maximize:not([class*="maximize minimize"]) {
    min-width: 64rem;
    max-width: 64rem;
    flex: 1;
}

tab.post.maximize:not([class*="maximize minimize"]),
tab.template.maximize:not([class*="maximize minimize"]) {
    min-width: 84rem;
    max-width: 84rem;
    flex: 1;
}

.tab__top_menu {
    height: 2rem;
    display: flex;
}

.tab__top_menu>button {
    width: 4rem;
    display: inline-block;
    background-color: transparent;
    font-size: 0.8em;
}

.tab__top_menu>button:hover {
    background-color: var(--border);
}

.tab__top_menu>button:active {
    background-color: var(--border2);
}

.tab__title {
    margin-right: auto;
    font-size: 0.6em;
    line-height: 2rem;
    padding: 0 1.2rem;
    opacity: 0.7;
}

.tab__minimize::before {
    content: '\F05B0';
}

.tab__maximize::before {
    content: '\F05AF';
}

.maximize:not([class*="maximize minimize"]) .tab__maximize::before {
    content: '\F05B2';
}

.tab__close::before {
    content: '\F05AD';
}

.tab__search {
    margin: 2rem 2rem 2rem auto;
    width: calc(100% - 4rem);
    max-width: 30rem;
    border-radius: 2.2rem;
    border-width: 0.2rem;
    height: 4.4rem;
    background-color: var(--border);
    border-color: var(--border);
}

.tab__search[title]::before {
    content: attr(title);
    position: fixed !important;
    width: 0;
    overflow: hidden;
    top: 2rem;
    left: 0;
    line-height: 8.5rem;
    padding-left: 2rem;
    font-size: 3rem;
    font-weight: 600;
}

@media (max-width: 500px) {
    tab {
        min-width: calc(100% - 2rem);
        max-width: calc(100% - 2rem);
        scroll-snap-align: center;
    }

    main>section {
        scroll-snap-type: x mandatory;
    }
}

.maximize:not([class*="maximize minimize"]) .tab__search {
    margin-left: auto;
}

.maximize:not([class*="maximize minimize"]) .tab__search::before {
    width: auto;

}

.tab__search>[contenteditable] {
    padding: 0.5rem 0;
}

.list__item {
    display: flex;
    height: 5rem;
    line-height: 5rem;
    border-bottom: 0.1rem solid var(--border);
    transition: padding-bottom 400ms, height 400ms;
    padding-bottom: 0;
}

.list__item.expand {
    height: 35rem;
    padding-bottom: 30rem;
}

.list__item__edit {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.list__item__edit textarea {
    resize: none;
    overflow: auto;
    padding: 1rem;
    border-top: 0.1rem solid var(--border2);
    font-family: inherit;
    font-size: 1.3rem;
    flex: 1;
}

.list__item__edit button {
    background: white;
    height: 4rem;
    border: 0.1rem solid var(--border2);
    border-radius: 2rem;
    margin: 1rem auto;
    width: 15rem;
    cursor: pointer;
}

.list__item__edit button:hover {
    opacity: 0.7;
}

.list__item__edit button:active {
    background: none;
}

.list__item>span {
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
    max-width: 0;
    overflow: hidden;
    transition: 200ms padding, 200ms max-width;
    --width: 25rem;
}

tab.maximize .list__item>span,
.list__item>span.always {
    flex: 1;
    padding: 0 1.5rem;
    max-width: var(--width);
    min-width: var(--width);
}

.list__item.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    border-bottom-color: var(--border2);
}

.list__item.header>span {
    font-weight: 600;
}

.list__item__photo {
    --width: 9rem !important;
}

.list__item__photo>img {
    margin: 0.7rem auto;
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
    background-color: var(--border2);
}

.list__item>span.flexible {
    max-width: unset !important;
    min-width: unset !important;
}

.list__item__level {
    --width: 6rem !important;
}

.list__item__board_name,
.list__item__category {
    --width: 12rem !important;
}

.list__item__use {
    --width: 8rem !important;
}

.list__item__delete  {
    --width: 10rem !important;
}

.list__item__author_id {
    --width: 16rem !important;
    cursor: pointer;
}

.list__item:hover {
    background-color: var(--border);
}

.list__more {
    display: block;
    height: 3rem;
    width: 100%;
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    opacity: 0.7;
}

.list__more:hover {
    opacity: 0.8;
}

.list__more:active {
    opacity: 1;
}

.list__more::before {
    content: '\F0140';
}

.tab__list {
    overflow: auto;
    border-top: 0.1rem solid var(--border2);
    border-bottom: 0.1rem solid var(--border2);
    margin-bottom: 2rem;
}

.icon::after {
    font-family: "Material Design Icons";
}

.icon.edit::after {
    content:"\F064F";
}

.icon.copy::after {
    content:"\F018F";
}

.icon.link::after {
    content:"\F0339";
}
.icon.delete::before {
    content:"\F0A7A";
}
.icon.delete {
    color: var(--invalid);
}
.icon.delete,
.icon.link {
    cursor: pointer;
}