.main__header__title:has(input:invalid) {
    height: 5rem;
    padding-left: 2rem;
}

.main__header__title:has(input:invalid)::before {
    position: absolute;
    content: "\F0028";
    color: var(--invalid);
    font-family: "Material Design Icons";
}

.main__header__title>input {
    transition: 200ms padding;
}

.main__header__title>input:invalid {
    padding-left: 8rem;
}

.main__contents {
    padding: 0;
    padding-bottom: 15rem;
}

.main__contents:empty::after {
    content: '여기에 컴포넌트(요소)를 끌어다 놓으면 추가할 수 있어요!';
    display: block;
    margin: 2rem;
    background: var(--background-dark);
    text-align: center;
    line-height: 40rem;
}

footer:hover,
.component:hover {
    background-color: var(--background-dark);
}

.main__contents:hover {
    background-color: transparent;
}

.component {
    border-top: 0.1rem solid var(--border);
    padding: 2rem 4rem;
    min-height: 10.5rem;
}

.component>p {
    font-size: 3rem;
}

.component>* {
    max-width: calc(100% - 5rem);
}

.component audio {
    min-width: calc(70% - 5rem);
    margin-top: 1rem;
}

.component__remove_btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 6rem;
    height: 6rem;
    margin: 0 !important;
    border-radius: 50%;
    color: #fff;
    background-color: var(--accent);
    font-size: 3rem;
}

.component__remove_btn:hover {
    opacity: 0.7;
}

.component__remove_btn:active {
    background: var(--invalid);
    opacity: 1;
}

.component_list {
    user-select: none;
}

.component_list>li {
    padding: 1rem var(--block-padding);
}

.component_list button {
    border-radius: 50%;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-right: -0.5rem;
    margin-left: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    background: var(--accent);
    color: white;
}

aside> :first-child {
    transition: 400ms margin-top;
}


.editable-table__row:first-child>* {
    background-color: var(--background-dark);
}

.component__execList {
    line-height: 1.5em;
    background-color: #edf2fa;
    padding: 0 1.75rem;
    border-radius: 1.75rem;
    margin: 1rem 0;
}

.component__execList>button,
.input_color {
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    overflow: hidden;
    background: none;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.input_color>input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
}

.input_color::before {
    z-index: 2;
    position: relative;
}

.component__execList>input[type="number"] {
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
}

.component__execList>input[type="number"]::-webkit-outer-spin-button,
.component__execList>input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

.component__execList>input[type="number"][type=number] {
    -moz-appearance: textfield;
}

.separator::before {
    content: '|';
}

@media (max-width: 500px) {
    main {
        margin: 0 0 2rem 0;
        padding-left: 0;
        padding-right: 0;
    }

    .component__execList {
        white-space: nowrap;
        overflow-x: auto;
        padding-top: 1rem;
        border-radius: 0.2rem;
        margin-top: 2.5rem;
        max-width: unset;
    }

    .component__execList+[contenteditable] {
        padding-top: 5rem;
        padding-bottom: 2rem;
        max-width: unset;
    }

    .component__execList * {
        font-size: 2rem !important;
        line-height: 2rem !important;
    }

    .component__remove_btn {
        margin-top: -1rem !important;
    }
}

@media (max-width: 1000px) {
    main {
        padding-top: 1rem;
    }

    aside {
        order: -1;
        position: sticky;
        top: -63rem;
        z-index: 2;
    }

    .main__contents:empty::after {
        content: '컴포넌트 목록에서 버튼을 눌러 추가해 보세요!';
    }
}