.main__header {
    padding: 2rem;
}

.main__contents>.title {
    font-size: 1.5em;
    padding: 1rem;
    border-bottom: 0.1rem solid var(--border2);
    margin-top: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.main__contents>.title.fold {
    opacity: 0.8;
}

.main__contents>.title::before {
    content: '\F0140';
    font-family: "Material Design Icons";
    display: inline-block;
    line-height: 3.5rem;
    height: 3.5rem;
    width: 3.5rem;
}

.main__contents>.title.fold::before {
    content: '\F0142';
}

.main__contents>.seperator {
    border-bottom: 0.1rem solid var(--border2);
    margin-bottom: 3rem;
    padding-top: 2rem;
}

.main__contents>div {
    margin-bottom: 1rem;
}

.main__contents>.summury {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2rem 1.8rem 1.4rem;
    border: 0.1rem solid var(--border2);
}

.main__contents>.summury::before {
    content: '목차';
    font-size: 1.3em;
    margin-bottom: 1.2rem;
}

.main__contents>.summury>a {
    margin-left: 2rem;
}

.main__contents>.image>img,
.main__contents>.video>video {
    max-width: 100%;
}

.main__contents>.board_list_1>div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem 0;
    border-bottom: 0.1rem solid var(--border2);
    cursor: pointer;
    grid-column: 1 / 3;
}

.main__contents>.board_list_1>div[board_name]::before {
    content: attr(board_name);
    padding-left: 3rem;
}

.main__contents>.board_list_1>div[title]::after {
    content: attr(title);
    padding-left: 3rem;
}

.main__contents>.board_list_1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.main__contents>.board_list_1::before,
.main__contents>.board_list_1::after {
    content: '문서명';
    padding-left: 3rem;
    display: block;
    order: -1;
}

.main__contents>.board_list_1::before {
    content: '분류';
    border-right: 0.1rem solid var(--border2);
}

.main__contents>.board_list_1>*:first-child {
    border-top: 0.1rem solid var(--border2);
    margin-top: 1rem;
}

.main__contents>.board_list_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-left: 1px solid #aaa;
}

.main__contents>.board_list_2>div:nth-child(-n + 4) {
    border-top: 1px solid #aaa;
}

.main__contents>.board_list_2>div {
    text-align: center;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 0.2rem;
    cursor: pointer;
}

.main__contents>.board_list_2>div>img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    margin-bottom: 0.5rem;
}

#user_area>* {
    margin: 1rem 0;
    text-align: left;
}

#user_area {
    text-align: center;
}

#user_area > * > button {
    margin: auto;
}

.profile {
    margin: -2rem 0 0 !important;
    padding: 0;
    aspect-ratio: 2;
    max-height: 25rem;
    min-height: 15rem;
    min-width: 100%;
    max-width: 100%;
    --background-url: linear-gradient(to top,#F2DDC4, var(--accent));
}

.profile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-image: var(--background-url);
    background-size: cover;
}

.profile>label:hover::before, .profile__photo>label:hover::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF33;
    content: '\F0EDB';
    font-family: 'Material Design Icons';
    color: #FFFFFFaa;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile__photo {
    position: absolute;
    display: block;
    height: 7rem;
    width: 7rem;
    bottom: 0.5rem;
    border: 0.4rem solid var(--background-dark);
    background-color: var(--border2);
    border-radius: 50%;
    overflow: hidden;
    margin-left: calc(50% - 3.5rem)
}

.profile__photo>img {
    max-width: 100%;
}
.profile__photo input, .profile input {
    display: none;
}
.profile__photo>label, .profile>label {
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.profile>label {
    height: calc(100% - 4rem);
}
.profile__email {
    margin-top: 0 !important;
    text-align: center;
}


@media (max-width: 500px) {
    .main__contents>.board_list_2 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main__contents>.board_list_2>div:nth-child(4) {
        border-top: none;
    }

    main {
        margin: 0;
    }
}

aside> :first-child {
    height: 5rem;
    border-radius: 2.5rem;
}

#recent_post:empty::after {
    content: '열람하신 내역이 없습니다.';
    opacity: 0.6;
}