@import url("utill.css");
@import url("utill-post.css");

.content.board_list_1>a {
    display: grid;
    color: var(--clr-font);
    grid-column: 1 / 3;
    grid-template-columns: 1fr 3fr;
    border-bottom: var(--bs-small) solid var(--clr-border-base);
    padding: 1rem 0;
    cursor: pointer;
}

.content.board_list_1>a[board_name]::before {
    text-overflow: ellipsis;
    content: attr(board_name);
    padding-inline: var(--size-indent);
    min-width: 12rem;
    overflow: hidden;
}

.content.board_list_1>a[title]::after {
    text-overflow: ellipsis;
    content: attr(title);
    padding-inline: var(--size-indent);
    overflow: hidden;
}
.content.board_list_1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.content.board_list_1::before,
.content.board_list_1::after {
    content: '문서명';
    display: block;
    padding-inline: var(--size-indent);
    order: -1;
}

.content.board_list_1::before {
    content: '분류';
    border-right: var(--bs-small) solid var(--clr-border-base);
    min-width: 12rem;
}

.content.board_list_1>*:first-child {
    margin-top: 1rem;
    border-top: var(--bs-small) solid var(--clr-border-base);
}

.content.board_list_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-left: var(--bs-small) solid var(--clr-border-dk);
}

.content.board_list_2>a:nth-child(-n + 4) {
    border-top: var(--bs-small) solid var(--clr-border-dk);
}

.content.board_list_2>a {
    display: block;
    color: var(--clr-font);
    text-align: center;
    border-right: var(--bs-small) solid var(--clr-border-dk);
    border-bottom: var(--bs-small) solid var(--clr-border-dk);
    padding: 0.2rem;
    cursor: pointer;
}

.content.board_list_2>a>span {
    font-size: var(--fs-base);
    display: block;
}

.content.board_list_2>a>span.sub {
    font-size: var(--fs-small);
    opacity: 0.9;
}


.content.board_list_2>a>img {
    margin-bottom: 0.5rem;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top center;
}

#user_area>* {
    text-align: left;
    margin: var(--mg-component);
}

#user_area {
    text-align: center;
    padding-block: var(--size-indent);
}

#user_area > * > button {
    margin: auto;
}

.profile {
    margin: -2rem 0 0 !important;
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 15rem;
    max-height: 25rem;
    aspect-ratio: 2;
    --background-url: linear-gradient(to top,#F2DDC4, var(--clr-primary-base));
}

.profile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 4rem;
    right: 0;
    border-radius: var(--br-largest) var(--br-largest) 0 0;
    background-size: cover;
    background-image: var(--background-url);
}

.profile>label:hover::before, .profile__photo>label:hover::before{
    content: '\F0EDB';
    color: #FFFFFFaa;
    font-size: 3rem;
    font-family: var(--ff-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF33;
    cursor: pointer;
}

.profile__photo {
    display: block;
    position: absolute;
    bottom: 0.5rem;
    margin-left: calc(50% - 3.5rem);
    border: 0.4rem solid var(--clr-background-dark);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    background-color: var(--clr-border-base);
    overflow: hidden;
}

.profile__photo>img {
    max-width: 100%;
}
.profile__photo input, .profile input {
    display: none;
}
.profile__photo>label, .profile>label {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.profile>label {
    height: calc(100% - 4rem);
}
#user_area>*.profile__email {
    text-align: center;
    margin-top: 0 !important;
}


@media (max-width: 500px) {
    .content.board_list_2 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content.board_list_2>div:nth-child(4) {
        border-top: none;
    }
}

#recent_post:empty::after {
    content: '열람하신 내역이 없습니다.';
    opacity: 0.6;
}