/*
 font from https://www.yd.go.kr/?page_id=120264
 copright by 영덕군
*/
@font-face {
    font-family: "headerFont";
    src: url("../font/Yeongdeok\ Snow Crab.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "mainFont";
    src: url("../font/Yeongdeok\ Sea.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-size: 10px;
    font-family: "mainFont";
    --accent: #1d9bf0aa;
    --border: #eff3f4;
    --border2: #ccc;
    --background-dark: #f7f9f9;
    --background: #FFF;
    --block-padding: 2rem;
    --border-radius: 2rem;
    --valid: #008000;
    --invalid: #f4212e;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    position: relative;
    font-size: 2rem;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 1.1rem;
    height: 1.1rem;
}

::-webkit-scrollbar-thumb {
    background: #00000044;
    border-radius: 0.2rem;
    border: solid 0.2rem var(--background-dark);

}

::-webkit-scrollbar-thumb:hover {
    background: #00000077;
}

::-webkit-scrollbar-thumb:active {
    background: #00000088;
}

::-webkit-scrollbar-track {
    background: transparent;
}

li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    background-color: var(--background);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    z-index: 10;
    max-width: 126rem;
    padding: 0 2rem;
    margin: auto;

}

header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    background-color: var(--accent);
    backdrop-filter: blur(1rem);

}

header>* {
    float: left;
    margin-right: 2rem;
}

header>.right {
    float: right;
    margin-left: 2rem;
    line-height: 5rem;
    cursor: pointer;
    font-size: 3rem;
}

.header__logo {
    line-height: 5rem;
    font-family: "headerFont";
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    padding: 7rem 0 0 1rem;
    min-width: 40rem;
    max-width: 90rem;
    min-height: calc(100vh - 18rem);
    box-sizing: content-box;
    border-right: 0.1rem solid var(--border);
    flex: 1;
}

.main__header {
    padding: 2rem 0;
}

.main__header__title {
    font-weight: 600;
    font-size: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.main__header__timestamp {
    font-size: 1.7rem;
    height: 1.7rem;
}

.main__header__toolbox {
    position: absolute;
    right: 1rem;
    top: 2rem;
    display: flex;
    flex-direction: row;
    height: 5rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--border2);
}

.main__header__toolbox:empty,
.non-auth .main__header__toolbox {
    display: none !important;
}

.main__header__toolbox>button {
    min-width: 5rem;
    background: none;
    color: #555;
    padding: 0 1.2rem;
    font-family: inherit;
}

.main__header__toolbox>button+button {
    border-left: 0.1rem solid var(--border2);
}

.main__contents {
    flex: 1;
    padding: var(--block-padding);
}

.main__contents>div:hover,
.main__header:hover,
footer:hover {
    background-color: var(--background-dark);
}

aside {
    margin: 7rem 2rem 2rem 1rem;
    width: 32rem;
}

aside>* {
    padding: var(--block-padding) 0;
    background-color: var(--background-dark);
    border-radius: var(--border-radius);
}

aside>*+* {
    margin-top: 2rem;
}

aside>*>* {
    padding: 0 var(--block-padding);
}

aside>*>p:first-child {
    font-size: 1.2em;
    margin-bottom: 1rem;
    margin-top: -2rem;
    padding: 1.5rem var(--block-padding) 1rem;
    border-bottom: 1px solid var(--border2);
}


@media (max-width: 500px) {

    .main__contents,
    .main__header {
        zoom: 0.65;
    }
}

@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }

    main {
        max-width: unset;
        min-width: unset;
        margin: 0 2rem 2rem 2rem;
        padding-right: 1rem;
        border-right: none;
    }

    aside {
        width: auto;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    aside>div:first-child {
        margin-top: unset !important;
    }
}

footer {
    font-size: 1.5rem;
    padding: 0 1rem;
    min-height: 15rem;
    white-space: pre-line;
    text-align: right;
}

footer::after {
    content: "\A이 저작물은 토끼마음대로에 따라 이용할 수 있습니다. (단, 라이선스가 명시된 일부 문서 및 삽화 포함)\A기여하신 문서의 저작권은 각 기여자에게 있으며, 각 기여자는 기여하신 부분의 저작권을 갖습니다.\A\A네무위키는 백과사전이 아니며 검증되지 않았거나, 편향적이거나, 잘못된 서술이 있을 수 있습니다.\A네무위키는 위키위키입니다. 여러분이 직접 문서를 고칠 수 있으며, 다른 사람의 의견을 원할 경우 직접 토론을 발제할 수 있습니다.\A";
}

body.error footer::after {
    content: "\A원하시는 문서를 찾을 수 없습니다.\A삭제된 문서 이거나 옳바른 주소 인지 확인해주세요.";
}


input,
textarea {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
    padding: 0 2rem;
    font-family: inherit;
}

input:not(:focus)+.input_suggest {
    display: none !important;
}

input:focus+.input_suggest {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    max-height: 30rem;
    border-radius: 0.5rem;
    background-color: var(--background);
    z-index: 10;
    box-shadow: 0 0 1rem 0 #4b749933;
}

.input_suggest>li {
    padding: 1rem;
}

.input_suggest>li+li {
    border-top: 0.1rem solid var(--border)
}

.input_suggest>li[value]:empty::after {
    content: attr(value);
}

.input_suggest>li:hover {
    background-color: var(--background-dark);
}

[placeholder]:empty::after {
    content: attr(placeholder);
    opacity: 0.5;
}

.input_container {
    height: 4rem;
    line-height: 4rem;
    padding: 0 2rem;
    transition: outline 200ms;
}

.input_container:focus-within {
    outline: 0.2rem solid var(--accent);
}

.input_container:not(.no-validity):has(input:user-valid) {
    outline: 0.2rem solid var(--valid);
    padding-left: 1rem;
}

.input_container:not(.no-validity):has(input:invalid) {
    outline: 0.2rem solid var(--invalid);
    padding-left: 1rem;
}

.input_container::before {
    content: "";
    font-family: "Material Design Icons";
    font-size: 2.5rem;
}

.input_container:not(.no-validity):has(input:user-valid)::before {
    content: "\F05E1";
    color: var(--valid);
}

.input_container:not(.no-validity):has(input:invalid)::before {
    content: "\F0028";
    color: var(--invalid);
}

.input_container input {
    position: absolute;
    left: 0;
    transition: padding 200ms;
}

.input_container:not(.no-validity) input:user-valid,
.input_container:not(.no-validity) input:invalid {
    padding-left: 4rem;
}

.input_container>input {
    border-radius: inherit;
}

button {
    cursor: pointer;
}

button.normal,
button.danger {
    display: block;
    width: 100%;
    max-width: 32rem;
    color: white;
    background: var(--accent);
    padding: 0;
    line-height: 6rem;
    border-radius: 3rem;
    opacity: 0.8;
    font-family: inherit;
    font-size: 2.5rem;
}

button.danger {
    background: var(--invalid);
}

button.normal:hover,
button.danger:hover {
    opacity: 1;
}

button.normal:active,
button.danger:active {
    opacity: 0.6;
}

editable-table {
    overflow-x: auto;
    max-width: 100%;
    display: inline-block;
    border: 0.1rem solid var(--border2);
}

.editable-table__row {
    display: flex;
    flex-direction: row;
    min-height: 5rem;
}

.editable-table__row+.editable-table__row>.editable-table__cell {
    border-top: 0.1rem solid var(--border2);
}

.editable-table__cell {
    box-sizing: content-box;
    min-width: 20rem;
    width: 20rem;
}

.editable-table__cell+.editable-table__cell {
    border-left: 0.1rem solid var(--border2);
}

.component__option__input {
    display: inline-block;
    width: 6rem;
    height: 4rem;
    margin: 0 1rem;
    border: 1px solid var(--border2);
}

.component__option__input:first-child {
    margin-left: 0;
}

.component__option__input>input {
    padding-right: 0;
}

editable-table [contenteditable] {
    width: 100%;
    height: 100%;
    padding: 1.25rem 2rem;
}

a {
    font-size: inherit;
    text-decoration: none;
}

blockquote {
    padding: 1.5rem;
    border: 0.1rem dashed var(--border2);
    border-left: 0.5rem solid var(--accent);
    margin: 1.5rem 0;
    background: var(--border);
}

img::after {
    content: '\F082B';
    font-size: 3em;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: var(--background);
    border: 0.1rem solid #aaa;
    color: #aaa;
    font-family: "Material Design Icons";
}

body.loading .main__header__title::after,
body.loading .main__header__timestamp::after,
body.loading .main__contents::after,
body.loading aside>*::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "headerFont";
    font-size: 4em;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: var(--background);
    z-index: 1;
    opacity: 1;
}

body.loading .main__header__timestamp::after {
    width: 40%;
}

body.loading .main__contents::after {
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}

body.loading aside>*::after {
    width: 100%;
}

error::after,
error::before,
error {
    content: attr(state-code);
    font-family: 'headerFont';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 10rem;
    margin: auto;
    font-size: 10rem;
    z-index: 9999;
    text-align: center;
}

error::before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
}

error::after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF00FF;
    z-index: -1;
}

@keyframes glitch-it {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    to {
        transform: translate(0);
    }
}

/*
body.loading::after, body.loading::before {
    content: '';
    position: fixed;
    top: calc(50% - 10rem);
    left: calc(50% - 10rem);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 3vw solid var(--accent);
    opacity: 0.3;
    z-index: 10;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    animation: rotate 1s infinite;
}
body.loading::before {
    border-color: white;
    animation: rotate_r 2s infinite;
}
*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate_r {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.fold {
    opacity: 0.4;
    margin-bottom: 0 !important;
}

body[developerMode="true"] img {
    opacity: 0;
}

:modal {
    border: 0.1rem solid var(--border);
    border-radius: 0.5rem;
    min-width: 30rem;
    min-height: 6rem;
    margin: auto;
    padding: 1rem;
    background-color: var(--background);
}

:modal form {
    display: flex;
}

:modal button {
    margin: 0.6rem;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 1.5rem;
    background-color: transparent;
    text-align: center;
    color: #666;
    font-size: 2.8rem;
}

:modal button + button {
    margin-left: 0;
}

:modal button::before {
    font-family:"Material Design Icons"
}

:modal button[value='cancel']::before {
    content:"\F015A";
}
:modal button[value='cancel']:hover::before {
    color: #880000AA;
}

:modal button[value='default']::before {
    content:"\F05E1";
}
:modal button[value='default']:hover::before {
    color: #008800AA;
}

:modal .input_container {
    flex: 1;
    font-size: 1.5rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
}