@import url("materialdesignicons.min.css");

/* Font Declation */
/*
 font from https://www.yd.go.kr/?page_id=120264
 copright by 영덕군
*/
@font-face {
    font-family: "Yeongdeok Snow Crab";
    src: url("../resource/subset-YeongdeokSnowCrab.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Yeongdeok Sea";
    src: url("../resource/subset-YeongdeokSea.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Variable */

:root {
    /*font*/
    --ff-contents: "Yeongdeok Sea", Helvetica, Arial, sans-serif;
    --ff-header: "Yeongdeok Snow Crab", Helvetica, Arial, sans-serif;
    --ff-icon: "Material Design Icons";
    --fs-xxlarge: 5rem;
    --fs-xlarge: 3rem;
    --fs-large: 2.2rem;
    --fs-base: 1.8rem;
    --fs-small: 1.4rem;
    --fs-smallest: 1.2rem;

    /*color*/
    --clr-primary-100: #1d9bf0;
    --clr-primary-86: #1d9bf0dd;
    --clr-primary-base: #1d9bf0aa;
    --clr-primary-46: #1d9bf077;
    --clr-border-lt: #eff3f4;
    --clr-border-base: #cccccc;
    --clr-border-dk: #dddddd;
    --clr-border-dkst: #e8e8e8;
    --clr-background-dark: #f7f9f9;
    --clr-background-base: #ffffff;
    --clr-valid: #008000;
    --clr-invalid: #f4212e;
    --clr-font: #000000;
    --clr-font-invaild: #555555;
    --clr-font-alt: #FFFFFF;

    --bs-small: 0.1rem;
    --bs-base: 0.2rem;
    --br-smallest: 0.3rem;
    --br-base: 1rem;
    --br-largest: 2rem;

    --size-indent: 2rem;
    --mg-component: 1.2rem;
    --mg-component-small: 0.6rem;

    --h-control-smaller: 2.8rem;
    --h-control-small: 3rem;
    --h-control: 4rem;
    --h-control-large: 5rem;
    --h-button-large: 5.4rem;

    --w-min-button: 6rem;

    /*setting*/
    font-size: 10px;
    color: var(--clr-font);
}

* {
    font-size: var(--fs-base);
    font-family: var(--ff-contents);
    position: relative;
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
}

*:focus {
    outline: none;
}

li,
ol,
ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: var(--mg-component);
    height: var(--mg-component);
}

::-webkit-scrollbar-thumb {
    border: solid var(--bs-base) var(--clr-background-dark);
    border-radius: var(--br-smallest);
    background: #00000044;
}

::-webkit-scrollbar-thumb:hover {
    background: #00000077;
}

::-webkit-scrollbar-thumb:active {
    background: #00000088;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* base Layout */

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: var(--h-header);
    min-height: 100vh;
    overflow: auto;
    background-color: var(--clr-background-base);
    --h-header: 5rem;
}

body::before,
body:not(:has(.index))::after {
    content: '';
    display: block;
    flex: 1;
}

header {
    display: flex;
    flex-direction: row;
    gap: var(--size-indent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-inline: var(--size-indent);
    max-width: 126rem;
    height: var(--h-header);
    line-height: var(--h-header);
    z-index: 2;
    user-select: none;
}

header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--h-header);
    background-color: var(--clr-primary-base);
    backdrop-filter: blur(1rem);
}

main {
    display: flex;
    flex: 100;
    flex-direction: column;
    gap: var(--size-indent);
    box-sizing: content-box;
    margin: var(--mg-component);
    min-width: 40rem;
    max-width: 90rem;
}

hr {
    min-width: var(--bs-small);
    min-height: var(--bs-small);
    background-color: var(--clr-border-lt);
}

aside {
    display: flex;
    flex-direction: column;
    gap: var(--size-indent);
    margin: var(--mg-component);
    width: 32rem;
}

/* re-useable Component */

indicator {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    height: 0.5rem;
    pointer-events: none;
    --progress: 0;
    --progress-r: 100%;
}

indicator::before {
    content: '';
    position: absolute;
    top: 0;
    left: var(--progress);
    right: var(--progress-r);
    height: 100%;
    background-color: var(--clr-primary-base);
    transition: left 250ms, right 250ms;
}

input,
textarea,
button,
a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    border: none;
    background: none;
}

a {
    color: var(--clr-primary-base);
}

sup {
    color: var(--clr-primary-base);
    font-size: 0.8em;
}

[placeholder]:empty::after {
    content: attr(placeholder);
    opacity: 0.5;
}

.input_suggest {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: var(--br-smallest);
    padding: 0 !important;
    width: 100%;
    max-height: 36.5rem;
    background-color: var(--clr-background-base);
    box-shadow: 0 0 1rem 0 #4b749933;
    overflow: auto;
    z-index: 10;
}

.input_suggest>li {
    padding: var(--mg-component);
}

.input_suggest>li+li {
    border-top: var(--bs-small) solid var(--clr-border-base)
}

.input_suggest>li[value]:empty::after {
    content: attr(value);
}

.input_suggest>:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.input_suggest>:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

:focus+.input_suggest {
    display: block;
}

.input_suggest>li:hover {
    background-color: var(--clr-background-dark);
}

.input_container {
    outline: var(--bs-base) solid transparent;
    height: var(--h-control);
    line-height: var(--h-control);
    transition: outline-color 200ms;
}

.input_container.readonly {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

.input_container::before {
    content: "";
    font-size: 1.35em;
    font-family: var(--ff-icon);
}

.input_container>input,
.input_container>textarea {
    position: absolute;
    left: 0;
    border-radius: inherit;
    padding-inline: var(--size-indent);
    width: 100%;
    height: 100%;
    transition: padding 200ms;
}

.input_container:focus-within {
    outline-color: var(--clr-primary-base);
}

.input_container:not(.no-validity):has(:user-valid) {
    outline: var(--bs-base) solid var(--clr-valid);
    padding-left: 1rem;
}

.input_container:not(.no-validity):has(:invalid) {
    outline: var(--bs-base) solid var(--clr-invalid);
    padding-left: 1rem;
}

.input_container:not(.no-validity):has(input:user-valid)::before {
    content: "\F05E1";
    color: var(--clr-valid);
}

.input_container:not(.no-validity):has(input:invalid)::before {
    content: "\F0028";
    color: var(--clr-invalid);
}

.input_container:not(.no-validity) :user-valid,
.input_container:not(.no-validity) :invalid {
    padding-left: var(--h-control);
}

button.normal,
button.danger {
    color: var(--clr-font-alt);
    font-size: var(--fs-large);
    font-family: inherit;
    display: block;
    border-radius: calc(var(--h-button-large) / 2);
    width: 100%;
    min-width: var(--w-min-button);
    max-width: 32rem;
    line-height: var(--h-button-large);
    background: var(--clr-primary-base);
    opacity: 0.8;
}

button.danger {
    background: var(--clr-invalid);
}

button.normal:hover,
button.danger:hover {
    opacity: 1;
}

button.normal:active,
button.danger:active {
    opacity: 0.6;
}

a,
input,
textarea,
button,
label,
[onclick] {
    cursor: pointer;
}

.fold {
    margin-bottom: 0 !important;
    opacity: 0.4;
}


.gallery_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    position: absolute;
    width: 100%;
    top: var(--h-control-large);
    left: 0;
    padding-inline: 0.5rem;
    max-height: calc(100% - var(--h-control-large));
    overflow-y: auto;
}

.gallery_container_cell {
    font-size: var(--fs-xxlarge);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    background-color: var(--clr-border-dkst);
    animation: uncheck 300ms forwards;
}

.gallery_container_cell.empty {
    pointer-events: none;
    visibility: hidden;
}

.gallery_container_cell>input {
    display: none !important;
}

button.gallery_container_cell {
    margin: 0 !important;
    width: auto !important;
}

input.gallery_container_cell {
    appearance: none;
}

.gallery_container_cell:checked,
.gallery_container_cell:active {
    outline: 0.3rem solid var(--clr-primary-base);
    animation: check 300ms forwards;
}

.gallery_container_cell.localStorage::before {
    content: "\F024B";
    font-size: inherit;
    font-family: var(--ff-icon);
}

.gallery_container_cell.link::before {
    content: "\F0339";
    font-size: inherit;
    font-family: var(--ff-icon);
}

@keyframes check {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    20% {
        transform: scale(1.03);
    }

    100% {
        opacity: 0.8;
        transform: scale(0.91);
    }
}

@keyframes uncheck {
    0% {
        opacity: 0.8;
        transform: scale(0.91);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

img::after {
    content: '\F082B';
    color: var(--clr-border-dk);
    font-size: var(--fs-xlarge);
    font-family: var(--ff-icon);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: var(--bs-small) solid var(--clr-border-dk);
    background: var(--clr-background-base);
}

iframe {
    max-width: 100%;
}

/* one-use-component */

/*Header*/
.header__logo {
    color: var(--clr-font);
    font-family: var(--ff-header);
    white-space: nowrap;
    margin-right: auto;
}

header>a {
    color: var(--clr-font);
}

header>[title] {
    padding-right: 0;
    transition: 350ms padding-right;
}

header>[title]::before {
    font-size: var(--fs-xlarge);
}

header>[title]::after {
    content: attr(title);
    font-size: var(--fs-small);
    white-space: nowrap;
    position: absolute;
    right: 0;
    width: 0;
    overflow: hidden;
    transition: 350ms width;
}

header>[title]:hover {
    padding-right: var(--w-min-button);
    transition-delay: 200ms;
}

header>[title]:hover::after {
    width: var(--w-min-button);
    transition-delay: 250ms;
}

/*main*/

main>div,
main>footer {
    padding-inline: var(--mg-component);
}

.main__header {
    display: flex;
    flex-wrap: wrap;
    padding-block: var(--size-indent) var(--mg-component);
}

.main__header__title {
    font-size: var(--fs-xxlarge);
    font-weight: bold;
    white-space: nowrap;
    margin-right: var(--mg-component);
    margin-bottom: var(--mg-component);
    max-width: fit-content;
    height: var(--fs-xxlarge);
    overflow: hidden;
}

.main__header__timestamp {
    font-size: var(--fs-small);
    width: 100%;
    height: var(--fs-small);
}

.main__header__toolbox {
    display: flex;
    flex-direction: row;
    gap: var(--bs-small);
    margin-left: auto;
    border: var(--bs-small) solid var(--clr-border-base);
    border-radius: var(--br-base);
    max-width: fit-content;
    height: var(--h-control);
    background-color: var(--clr-border-base);
    overflow: hidden;
}

.main__header__toolbox:empty {
    display: none !important;
}

.main__header__toolbox>button {
    color: var(--clr-font-invaild);
    min-width: var(--w-min-button);
    background-color: var(--clr-background-base);
}


.main__notice {
    display: block;
    color: var(--clr-font-alt);
    white-space: pre-line;
    border: var(--bs-small) solid var(--clr-primary-100);
    border-radius: var(--br-smallest);
    padding-inline: var(--size-indent);
    min-height: var(--h-button-large);
    line-height: var(--h-button-large);
    background-color: var(--clr-primary-86);
    overflow: hidden;
}

.main__notice__timestamp {
    float: right;
    opacity: 0.46;
}

.main__notice.open .main__notice__content {
    padding-bottom: var(--size-indent);
    max-height: 30rem;
    overflow: auto;
}

.main__notice__content {
    display: block;
    line-height: 1.5;
    margin-inline: calc(0px - var(--size-indent) - var(--bs-small));
    padding-inline: var(--size-indent);
    padding-bottom: 0;
    max-height: 0;
    transition: 500ms max-height, 500ms padding-bottom;
    --clr-background-dark: #3BA8F2;
}

.main__document_info {
    display: flex;
    border: var(--bs-small) solid var(--clr-border-lt);
    border-radius: var(--br-smallest);
    padding-inline: var(--size-indent);
    height: var(--h-control);
    line-height: var(--h-control);
    background-color: var(--clr-background-dark);
}

.main__document_info::before {
    content: '분류:';
}

.main__document_info>a {
    color: black;
    padding-inline: calc(var(--size-indent) / 2);
    line-height: var(--h-control);
}

.main__document_info>a+a::before {
    content: '>';
    padding-right: var(--size-indent);
}

.main__document_info>.category::before {
    content: '카테고리:';
    padding-right: 0;
}

.main__document_info>.to_author_page::before {
    content: '작성자 문서';
    padding-right: 0;
}

.main__document_info>.category,
.main__document_info>.to_author_page {
    margin-block: calc(var(--mg-component) / 2);
    margin-left: var(--mg-component);
    border-radius: var(--mg-component);
    padding-inline: var(--size-indent);
    line-height: calc(var(--h-control) - var(--mg-component));
    background: var(--clr-primary-base);
}

.main__document_info>.to_author_page {
    border: var(--bs-small) solid var(--clr-border-lt);
    background: var(--clr-background-base);
}

.main__contents {
    flex: 1;
}

footer {
    font-size: var(--fs-small);
    text-align: right;
    white-space: pre-line;
    min-height: 15rem;
}

footer::after {
    content: "\A이 저작물은  CC BY-NC-SA 2.0 KR에 따라 이용할 수 있습니다. (단, 라이선스가 명시된 일부 문서 및 삽화 포함)\A기여하신 문서의 저작권은 각 기여자에게 있으며, 각 기여자는 기여하신 부분의 저작권을 갖습니다.\A\A네무위키는 백과사전이 아니며 검증되지 않았거나, 편향적이거나, 잘못된 서술이 있을 수 있습니다.\A네무위키는 위키위키입니다. 여러분이 직접 문서를 고칠 수 있으며, 다른 사람의 의견을 원할 경우 직접 토론을 발제할 수 있습니다.\A";
}

/*aside*/

.aside__container {
    border-radius: var(--br-largest);
    padding-bottom: var(--size-indent);
    background-color: var(--clr-background-dark);
}

.aside__container.input_container {
    border-radius: calc(var(--h-control-large) / 2);
    padding-bottom: 0;
    height: var(--h-control-large);
    line-height: var(--h-control-large);
}

.aside__container__title {
    font-size: var(--fs-large);
    margin-bottom: var(--mg-component);
    border-bottom: var(--bs-small) solid var(--clr-border-base);
    padding: var(--size-indent) var(--size-indent) var(--mg-component);
    line-height: var(--fs-large);
}

.aside__container>ul {
    line-height: 1.5;
    padding-inline: var(--size-indent);
}

/* modal */

:modal {
    text-align: center;
    position: fixed;
    margin: auto;
    border: var(--bs-small) solid var(--clr-border-lt);
    border-radius: var(--br-smallest);
    padding: var(--mg-component);
    min-width: 30rem;
    min-height: var(--h-control-large);
    background-color: var(--clr-background-base);
    overflow: visible;
}

:modal form {
    margin-bottom: var(--size-indent);
}

:modal button {
    line-height: var(--h-control-large);
    margin: var(--mg-component) auto 0;
    width: 25rem;
}

:modal button::before {
    font-family: var(--ff-icon);
}

:modal button[value='cancel']::before {
    content: "\F015A";
}

:modal button[value='default']::before {
    content: "\F05E1";
}

:modal .input_container {
    margin: var(--mg-component) auto;
    border-radius: calc(var(--h-control-large) / 2) !important;
    width: 25rem;
    height: var(--h-control-large);
    background-color: var(--clr-background-dark);
}

.modal__sub_title {
    font-size: var(--fs-small);
    text-align: center;
    margin: var(--size-indent);
}

.fullSize:modal {
    border-radius: 0;
    padding: 0;
    width: 100%;
    max-width: 40rem;
    height: 100%;
    max-height: 80rem;
}

.fullSize .modal__sub_title {
    margin: 0;
    height: var(--h-control-large);
    line-height: var(--h-control-large);
}

.fullSize button[value='default'],
.fullSize button[value='cancel'] {
    font-size: var(--fs-small);
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    padding: 0;
    width: var(--h-control-large);
    height: var(--h-control-large);
    background: none;
}

.fullSize button[value='default'] {
    color: inherit;
    right: 0;

}

.fullSize button[value='cancel'] {
    color: inherit;
    font-size: inherit;
    left: 0;
}

.fullSize button[value='default']::before {
    content: '완료';
    font-family: inherit;
}
.fullSize form{
    margin: 0;
    height: 100%;
}

/* Responsive Design */

@media (max-width: 500px) {
    :root {
        --fs-xxlarge: 3.2rem;
    }

    main {
        --root_fs-xxlarge: var(--fs-xxlarge);
        --root_fs-xlarge: var(--fs-xlarge);
        --root_fs-large: var(--fs-large);
        --root_fs-base: var(--fs-base);
        --root_fs-small: var(--fs-small);
        --root_fs-smallest: var(--fs-smallest);
    
        --root_h-control-smaller: var(--h-control-smaller);
        --root_h-control-small: var(--h-control-small);
        --root_h-control: var(--h-control);
        --root_h-control-large: var(--h-control-large);
        --root_h-button-large: var(--h-button-large);
    
        --root_w-min-button: var(--w-min-button);
    }

    .main__document_info,
    .main__notice {
        --fs-base: var(--fs-small);
    }

    .main__contents {
        padding-inline: 0;
        --zoom: 0.8;
    }
    editable-table {
        --h-control-large: calc(var(--root_h-control-large) * var(--zoom));
    }
    .editable-table__row.header > .editable-table__cell,
    .editable-table__row:not(.header) > .editable-table__cell > *,
    .content.textbox,
    .component.textbox>[contenteditable] {
        zoom: var(--zoom);
        --fs-base: var(--root_fs-base);
    }
}

@media (min-width: 500px) {
    .fullSize:modal {
        border-radius: 0;
        padding: 0;
        width: 100rem;
        max-width: calc(100% - var(--h-control-large));
        height: 80rem;
        max-height: calc(100% - var(--h-control-large));
    }

    .gallery_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery_container_cell,
    button.gallery_container_cell {
        width: 13.5rem !important;
    }
}


@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }

    main {
        min-width: unset;
        max-width: unset;
    }

    aside {
        width: auto;
    }

    aside>div:first-child {
        margin-top: unset !important;
    }
}

@media (max-width: 1200px) {
    .index {
        display: none !important;
    }
}

/* Loading */

body.loading .main__header__title::after,
body.loading .main__header__timestamp::after,
body.loading .main__contents::after,
body.loading aside>*::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-background-base);
    opacity: 1;
    z-index: 1;
}

body.loading input[type="checkbox"] {
    display: none;
}

/* non-auth style */

.non-auth header .account,
.non-auth .main__header__toolbox>button.edit {
    display: none;
}

/* Error Page */

error::after,
error::before,
error {
    content: attr(state-code);
    font-size: 10rem;
    font-family: var(--ff-header);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 10rem;
    margin: auto;
    z-index: 9999;
    pointer-events: none;
}

error::before {
    color: #00FFFF;
    z-index: -1;
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

error::after {
    color: #FF00FF;
    z-index: -1;
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

body.error footer::after {
    content: "\A원하시는 문서를 찾을 수 없습니다.\A삭제된 문서 이거나 옳바른 주소 인지 확인해주세요.";
}

body.error main > *,
body.error aside > * {
    display: none !important;
}

@keyframes glitch-it {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    to {
        transform: translate(0);
    }
}

/* DeveloperMode */
body[developerMode="true"] img {
    opacity: 0;
}

body[developerMode="true"] *,
body[developerMode="true"] *::before,
body[developerMode="true"] *::after,
body[developerMode="true"] *::placeholder,
body[developerMode="true"] *::file-selector-button,
body[developerMode="true"] *::-webkit-color-swatch
 {
    color: transparent !important;
    border-color: transparent !important;
    background-color: #fff7 !important;
}

body[developerMode="true"]:hover *,
body[developerMode="true"]:hover *::before,
body[developerMode="true"]:hover *::after,
body[developerMode="true"]:hover *::placeholder,
body[developerMode="true"]:hover *::file-selector-button,
body[developerMode="true"]:hover *::-webkit-color-swatch {
    color: #eee !important;
}

